<style>
    .card-body{
        padding: 0px;
    }
    .promotionals > .btn{
        border-radius: 0rem;
    }

</style>
<div class="row">
    <div class="col-md-6">
        <div class="card text-center">
            <div class="card-body promotionals">
                <img class="img-responsive" src="{{  preview1 | img_url: 'master'  }}" />
                <a href="{{section.settings.preview1_link}}" class="btn btn-lg btn-block button-preview_dark">{{section.settings.preview1_text_button}}</a>
            </div>
        </div>

    </div>
    <div class="col-md-6">
        <div class="card text-center">
            <div class="card-body promotionals">
                <img class="img-responsive" src="{{  preview2 | img_url: 'master'  }}" />
                <a href="{{section.settings.preview2_link_1}}"  class="btn btn-lg btn-block button-preview_dark">{{section.settings.preview1_text_button}}</a>
            </div>
        </div>
    </div>
</div>