    <div class="product">
        <div class="product__image">
            <a class="product__link" href="{{product.url}}"
               id="product__link_{{product.id}}">
                {%- if product.images.size > 0 -%}                                        
                    <img src="{{ product.featured_image | product_img_url: '480x480', scale: 2 }}" 
                         alt="{{ product.title | escape }}" 
                         class="img-responsive img-width" 
                         id="product_{{product.id}}"/>

                    {% if product.metafields.custom_fields["quick_view_image"] != blank %}                        
                        <img src="{{ product.metafields.custom_fields['quick_view_image'] }}" 
                            alt="{{ product.title | escape }}" 
                            class="img-responsive img-width quik-view-image"/>
                    {% endif %}

                    {% include 'sca-quick-view' %}     
                {%- endif -%}
            </a>
        </div>
        <div class="product__body">
            <div class="d-flex justify-content-between">
                <div class="product__size">
                  {{product.metafields.custom_fields["designer"]}}
                </div>
                <div class="product__swatches product__swatches__desktop">{% include 'swatches_product' %}</div>                        
            </div> 
            <div class="product__descr">
                <div class="product__descr">
                    <a class="product__descr__link" href="{{product.url}}">
                        {{product.title | scape}}       
                    </a> 
                </div>
            </div>

            {%- assign variant= product.selected_or_first_available_variant-%}
            {%- assign compare_at_price = variant.compare_at_price | times: 1 -%}
            {%- assign price = variant.price -%}
            
            {%- if compare_at_price > 0 and compare_at_price != price -%}
                <div class="product-info__original__price">                                                                
                    Original Price: <span>{{compare_at_price | money}}</span> 
                </div>

                {%- include "was-price" -%}

                <div class="product-info__now__price">                                                                                                    
                    Now: <span id="now_price_value">{{price | money}}</span> 
                </div>

            {%- else -%}
                <div class="product__price">{{product.price | money}}</div>            
            {%- endif -%}

            
            <div class="product__rate">{%- include "rate_reviews" -%}</div>
            <div class="product__swatches product__swatches__mobile"> {% include 'swatches_product' %}</div>
        </div>
    </div>


