
{% comment %}
	SEO Manager - v5.0.3
	Copyright (c) venntov
	https://venntov.com / http://SEOManager.com
	Josh Highland
	NOTICE: All information contained herein is property of venntov.
	The intellectual and technical concepts contained herein are proprietary
	to venntov and are protected by trade secret and copyright law.
	Reproduction of this code is strictly forbidden unless prior written
	permission is obtained from venntov. If violated, legal action
	will be taken. Just don't do it.
{% endcomment %}
{% capture ITIGTLCVON %} {% endcapture %} {%- assign BNEDIEZUEP = shop.metafields.SEOMetaManager.globalConfig -%} {%- assign FXBYIDYDIJ = BNEDIEZUEP | remove: "{"| remove: "}" -%} {%- assign GKONYEAIJM = FXBYIDYDIJ | split: ',"' -%} {%- for YTXZXKCTHQ in GKONYEAIJM -%} {%- assign OWYKVUBUPZ = YTXZXKCTHQ | remove: '"' -%} {%- assign YXKHSGZABF = OWYKVUBUPZ | split: ":" -%} {%- case YXKHSGZABF[0] -%} {%- when 'product_title_template' -%} {%- assign QMLXEJQMCH = YXKHSGZABF[1] -%} {%- when 'product_title_template_force' -%} {%- assign JFGNVDJDBJ = YXKHSGZABF[1] -%} {%- when 'product_noindex_follow' -%} {%- assign VNTBDATHGE = YXKHSGZABF[1] -%} {%- when 'collection_title_template' -%} {%- assign VAAPUEVSHN = YXKHSGZABF[1] -%} {%- when 'collection_title_template_force' -%} {%- assign ELHYWTSABQ = YXKHSGZABF[1] -%} {%- when 'collection_noindex_follow' -%} {%- assign GSSDXOIEUU = YXKHSGZABF[1] -%} {%- when 'page_title_template' -%} {%- assign BNIPAFSKAV = YXKHSGZABF[1] -%} {%- when 'page_title_template_force' -%} {%- assign DDCLVVQRFU = YXKHSGZABF[1] -%} {%- when 'page_noindex_follow' -%} {%- assign JFWMDHFICO = YXKHSGZABF[1] -%} {%- when 'blog_title_template' -%} {%- assign YKFGOEGUUO = YXKHSGZABF[1] -%} {%- when 'blog_title_template_force' -%} {%- assign WYOESHQZMR = YXKHSGZABF[1] -%} {%- when 'blog_noindex_follow' -%} {%- assign VLJSITDXRL = YXKHSGZABF[1] -%} {%- when 'hidePageNumber' -%} {%- assign XCTQZIHTIB = YXKHSGZABF[1] -%} {%- when 'google_notranslate' -%} {%- assign LHISFKGXWJ = YXKHSGZABF[1] -%} {%- when 'google_unavailable_after_globalDisabled' -%} {%- assign UKGOSFMIUH = YXKHSGZABF[1] -%} {%- when 'google_nositelinkssearchbox' -%} {%- assign WJODKKQBJP = YXKHSGZABF[1] -%} {%- when 'show_keywordsMeta' -%} {%- assign HEADIZKMQJ = YXKHSGZABF[1] -%} {%- when 'metaRedirect_globalDisabled' -%} {%- assign CUDMUTUOVE = YXKHSGZABF[1] -%} {%- endcase -%} {%- endfor -%} {%- if template contains 'index' -%} {%- assign WDMNPECGTE = 'shop' -%} {%- assign RFWVRWUESH = shop.metafields.SEOMetaManager -%} {%- assign JHQPNSYJUI = 'yes' -%} {%- assign TFVLOGNGTC = 'homepage' -%} {%- assign ACGWHPXPYJ = shop.metafields.SEOMetaManager.config_homepage -%} {%- elsif template contains 'product' -%} {%- assign WDMNPECGTE = 'product' -%} {%- assign RFWVRWUESH = product.metafields.SEOMetaManager -%} {%- assign AEJWDRCDAP = QMLXEJQMCH -%} {%- assign DTWBDHHOHT = JFGNVDJDBJ -%} {%- if VNTBDATHGE == 'yes' -%} {%- assign AJGJEFYVGP = 'yes' -%} {%- endif -%} {%- elsif template contains 'page' -%} {%- assign WDMNPECGTE = 'page' -%} {%- assign RFWVRWUESH = page.metafields.SEOMetaManager -%} {%- assign AEJWDRCDAP = BNIPAFSKAV -%} {%- assign DTWBDHHOHT = DDCLVVQRFU -%} {%- if JFWMDHFICO == 'yes' -%} {%- assign AJGJEFYVGP = 'yes' -%} {%- endif -%} {%- elsif template contains 'list-collections' -%} {%- assign WDMNPECGTE = 'shop' -%} {%- assign RFWVRWUESH = shop.metafields.SEOMetaManager -%} {%- assign JHQPNSYJUI = 'yes' -%} {%- assign TFVLOGNGTC = 'collectionsALL' -%} {%- assign ACGWHPXPYJ = shop.metafields.SEOMetaManager.config_collectionsAll -%} {%- assign FXQLMEUPIU = 'yes' -%} {%- elsif template contains 'collection' -%} {%- assign WDMNPECGTE = 'collection' -%} {%- assign RFWVRWUESH = collection.metafields.SEOMetaManager -%} {%- if collection.title == 'Products' -%} {%- assign RFWVRWUESH = shop.metafields.SEOMetaManager -%} {%- assign FXQLMEUPIU = 'yes' -%} {%- endif -%} {%- if collection.handle == 'all' -%} {%- assign RFWVRWUESH = shop.metafields.SEOMetaManager -%} {%- assign FXQLMEUPIU = 'yes' -%} {%- endif -%} {%- assign AEJWDRCDAP = VAAPUEVSHN -%} {%- assign DTWBDHHOHT = ELHYWTSABQ -%} {%- if GSSDXOIEUU == 'yes' -%} {%- assign AJGJEFYVGP = 'yes' -%} {%- endif -%} {%- elsif template contains 'article' -%} {%- assign WDMNPECGTE = 'article' -%} {%- assign RFWVRWUESH = article.metafields.SEOMetaManager -%} {%- assign AEJWDRCDAP = YKFGOEGUUO -%} {%- assign DTWBDHHOHT = WYOESHQZMR -%} {%- if VLJSITDXRL == 'yes' -%} {%- assign AJGJEFYVGP = 'yes' -%} {%- endif -%} {%- elsif template contains 'blog' -%} {%- assign WDMNPECGTE = 'blog' -%} {%- assign RFWVRWUESH = blog.metafields.SEOMetaManager -%} {%- elsif template contains 'search' -%} {%- assign WDMNPECGTE = 'shop' -%} {%- assign RFWVRWUESH = shop.metafields.SEOMetaManager -%} {%- assign JHQPNSYJUI = 'yes' -%} {%- assign TFVLOGNGTC = 'search' -%} {%- assign ACGWHPXPYJ = shop.metafields.SEOMetaManager.config_search -%} {%- elsif template contains '404' -%} {%- assign WDMNPECGTE = 'shop' -%} {%- assign RFWVRWUESH = shop.metafields.SEOMetaManager -%} {%- assign JHQPNSYJUI = 'yes' -%} {%- assign TFVLOGNGTC = '404' -%} {%- assign ACGWHPXPYJ = shop.metafields.SEOMetaManager.config_404 -%} {%- else -%} <!-- NO OBJECT - {{ template }} --> {%- endif -%} {%- assign UVCBPENOGI = 'NewCondition' -%} {%- if JHQPNSYJUI == 'yes' -%} {%- assign LRYJORVXXV = ACGWHPXPYJ -%} {%- else -%} {%- if FXQLMEUPIU == 'yes' -%} {%- assign LRYJORVXXV = shop.metafields.SEOMetaManager.config_collectionsAll -%} {%- else -%} {% assign LRYJORVXXV = RFWVRWUESH.config -%} {%- endif -%} {%- endif -%} {%- assign GAUOHTFMLM = LRYJORVXXV | remove: "{"| remove: "}" -%} {%- assign GKONYEAIJM = GAUOHTFMLM | split: ',"' -%} {%- for YTXZXKCTHQ in GKONYEAIJM -%} {%- assign OWYKVUBUPZ = YTXZXKCTHQ | remove: '"' -%} {%- assign YXKHSGZABF = OWYKVUBUPZ | split: ":" -%} {%- assign WSIPSSNTMG = YXKHSGZABF[0] -%} {%- assign YQIQQJQIHH = YXKHSGZABF[1] | replace: '%3A', ':' | replace: '\/', '/' -%} {%- case WSIPSSNTMG -%} {%- when 'title_template_force' -%} {%- assign OLXORLTEYU = YQIQQJQIHH -%} {%- when 'robots_index' -%} {%- assign IGPZOZKMWU = YQIQQJQIHH -%} {%- when 'robots_follow' -%} {%- assign CVUUDWGUZM = YQIQQJQIHH -%} {%- when 'robots_noimageindex' -%} {%- assign REWSDNXKLG = YQIQQJQIHH -%} {%- when 'robots_noarchive' -%} {%- assign SSWUDIQSML = YQIQQJQIHH -%} {%- when 'robots_nosnippet' -%} {%- assign FRDETARSTI = YQIQQJQIHH -%} {%- when 'google_notranslate' -%} {%- assign LHISFKGXWJ = YQIQQJQIHH -%} {%- when 'google_unavailable_after' -%} {%- assign CWNDZWYAJP = YQIQQJQIHH -%} {%- when 'google_unavailable_after_date' -%} {%- assign UECIKILGON = YQIQQJQIHH -%} {%- when 'metaRedirect_enabled' -%} {%- assign QCEHBZTAVQ = YQIQQJQIHH -%} {%- when 'metaRedirect_url' -%} {%- assign FDQRPEPGOG = YQIQQJQIHH -%} {%- when 'itemCondition' -%} {%- assign UVCBPENOGI = YQIQQJQIHH -%} {%- when 'pinterest_nopin' -%} {%- assign UISWFCZHVS = YQIQQJQIHH -%} {%- endcase -%} {%- endfor -%} {%- if WDMNPECGTE == 'product' -%} {%- if CUDMUTUOVE == 'yes' -%} {%- else -%} {%- if QCEHBZTAVQ == 'yes' -%} {%- if product.available != true -%} <meta HTTP-EQUIV="refresh" CONTENT="0;URL={{ FDQRPEPGOG }}"> {%- endif -%} {%- endif -%} {%- endif -%} {%- endif -%} {%- assign WYLYECVETO = page_title -%} {%- if FXQLMEUPIU == 'yes' -%} {%- if RFWVRWUESH.title_collectionsAll == empty or RFWVRWUESH.title_collectionsAll == nil -%} {%- assign WYLYECVETO = page_title -%} {%- else -%} {%- assign WYLYECVETO = RFWVRWUESH.title_collectionsAll -%} {%- endif -%} {%- endif -%} {%- assign MLHHPNNTGW = page_description -%} {%- if FXQLMEUPIU == 'yes' -%} {%- if RFWVRWUESH.description_collectionsAll == empty or RFWVRWUESH.description_collectionsAll == nil -%} {%- assign MLHHPNNTGW = page_description -%} {%- else -%} {%- assign MLHHPNNTGW = RFWVRWUESH.description_collectionsAll -%} {%- endif -%} {%- endif -%} {%- if HEADIZKMQJ == 'yes' -%} {%- assign HKTUKHAHJV = RFWVRWUESH.keywords -%} {%- endif -%} {%- capture YSPHSFAYBZ -%}{{ current_tags | first | downcase }}{%- endcapture -%} {%- for NINCLXAHZN in collection.all_tags -%} {%- capture PIDATGKAPB -%}{{ NINCLXAHZN | downcase }}{%- endcapture -%} {%- if YSPHSFAYBZ == PIDATGKAPB -%} {%- capture WYLYECVETO -%}{{ WYLYECVETO }} - {{ NINCLXAHZN }}{%- endcapture -%} {%- capture JORPEEAOAC -%}title_{{ NINCLXAHZN | slice: 0, 24 }}{%- endcapture -%} {%- capture JDXYXXAIVO -%}description_{{ NINCLXAHZN | slice: 0, 18 }}{%- endcapture -%} {%- capture OCRLOGEIEB -%}noindex_{{ NINCLXAHZN | slice: 0, 22 }}{%- endcapture -%} {%- for YTXZXKCTHQ in RFWVRWUESH -%} {%- capture WSIPSSNTMG -%}{{ YTXZXKCTHQ | first }}{%-endcapture-%} {%- capture FGKGIEUCVZ -%}{{ YTXZXKCTHQ | last }}{%- endcapture -%} {%- if WSIPSSNTMG == JORPEEAOAC -%} {%- assign WYLYECVETO = FGKGIEUCVZ -%} {%- elsif WSIPSSNTMG == JDXYXXAIVO -%} {%- assign MLHHPNNTGW = FGKGIEUCVZ -%} {%- elsif WSIPSSNTMG == OCRLOGEIEB -%} {%- assign AJGJEFYVGP = FGKGIEUCVZ -%} {%- endif -%} {%- endfor -%} {%- assign DTWBDHHOHT = 'no' -%} {%- assign OLXORLTEYU = 'no' -%} {%- break -%} {%- endif -%} {%- endfor -%} {%- if JHQPNSYJUI == 'yes' -%} {%- capture JJWWTFIBJV -%}title_{{ TFVLOGNGTC }}{%- endcapture -%} {%- capture SPRUOJZBZE -%}description_{{ TFVLOGNGTC }}{%- endcapture -%} {%- for YTXZXKCTHQ in RFWVRWUESH -%} {%- capture WSIPSSNTMG -%}{{ YTXZXKCTHQ | first }}{%-endcapture-%} {%- capture FGKGIEUCVZ -%}{{ YTXZXKCTHQ | last }}{%- endcapture -%} {%- if WSIPSSNTMG == JJWWTFIBJV -%} {%- assign WYLYECVETO = FGKGIEUCVZ -%} {%- elsif WSIPSSNTMG == SPRUOJZBZE -%} {%- assign MLHHPNNTGW = FGKGIEUCVZ -%} {% endif %} {%- endfor -%} {%- endif -%} {%- if DTWBDHHOHT == 'yes' or OLXORLTEYU == 'yes' -%} {%- assign AEADSGKNFL = [WDMNPECGTE].price | money | strip_html -%} {%- assign VOOCHSYNGJ = [WDMNPECGTE].price_max | money | strip_html -%} {%- assign DEAQTLACOB = [WDMNPECGTE].price_min | money | strip_html -%} {%- assign JIJTRJGMJL = AEJWDRCDAP | replace: '##title##', [WDMNPECGTE].title -%} {%- assign JIJTRJGMJL = JIJTRJGMJL | replace: '##seotitle##', page_title -%} {%- assign JIJTRJGMJL = JIJTRJGMJL | replace: '##price##', AEADSGKNFL -%} {%- assign JIJTRJGMJL = JIJTRJGMJL | replace: '##price_max##', VOOCHSYNGJ -%} {%- assign JIJTRJGMJL = JIJTRJGMJL | replace: '##price_min##', DEAQTLACOB -%} {%- assign JIJTRJGMJL = JIJTRJGMJL | replace: '##type##', [WDMNPECGTE].type -%} {%- assign JIJTRJGMJL = JIJTRJGMJL | replace: '##vendor##', [WDMNPECGTE].vendor -%} {%- assign JIJTRJGMJL = JIJTRJGMJL | replace: '##author##', [WDMNPECGTE].author -%} {%- assign JIJTRJGMJL = JIJTRJGMJL | replace: '##shopname##', shop.name -%} {%- assign WYLYECVETO = JIJTRJGMJL -%} {%- endif -%} {%- unless XCTQZIHTIB == "yes" -%} {%- if current_page > 1 -%} {% capture WYLYECVETO %}{{ WYLYECVETO }} | {{ current_page }}{% endcapture %} {%- endif -%} {%- endunless -%}
<!-- SEO Manager 5.0.3 -->
<meta name='seomanager' content='5.0' />
<title>{{ WYLYECVETO | escape_once }}</title>
<meta name='description' content='{{ MLHHPNNTGW | escape_once }}' />
{%- if HEADIZKMQJ == 'yes' -%}
{{ ITIGTLCVON }}
<meta name='keywords' content='{{ HKTUKHAHJV | escape_once }}' />
{%- endif -%}
{%- if AJGJEFYVGP == 'yes' -%}
{{ ITIGTLCVON }}
<meta name="robots" content="noindex">
<meta name="robots" content="follow">
{%- else -%}
{%- if IGPZOZKMWU == 'no' -%}
{{ ITIGTLCVON }}
<meta name="robots" content="noindex">
{%- else -%}
{{ ITIGTLCVON }}
<meta name="robots" content="index">
{%- endif -%}
{%- if CVUUDWGUZM == 'no' -%}
{{ ITIGTLCVON }}
<meta name="robots" content="nofollow">
{%- else -%}
{{ ITIGTLCVON }}
<meta name="robots" content="follow">
{%- endif -%}
{%- endif -%}
{%- if REWSDNXKLG == 'yes' -%}
{{ ITIGTLCVON }}
<meta name="robots" content="noimageindex">
{%- endif -%}
{%- if SSWUDIQSML == 'yes' -%}
{{ ITIGTLCVON }}
<meta name="robots" content="noarchive">
{%- endif -%}
{%- if FRDETARSTI == 'yes' -%}
{{ ITIGTLCVON }}
<meta name="robots" content="nosnippet">
{%- endif -%}
{%- if LHISFKGXWJ == 'yes' -%}
{{ ITIGTLCVON }}
<meta name="google" content="notranslate" />
{%- endif -%}
{%- if UKGOSFMIUH == 'yes' -%}
{%- elsif CWNDZWYAJP == 'yes' -%}
{{ ITIGTLCVON }}
<meta name="googlebot" content="unavailable_after: {{ UECIKILGON }} UTC" />
{%- endif -%}
{%- if UISWFCZHVS == 'yes' -%}
{{ ITIGTLCVON }}
<meta name="pinterest" content="nopin" />
{%- endif -%}
{%- assign OIAKBMSGHU = 'yes' -%} {%- assign KQNYHUZYPN = 'yes' -%} {%- assign ZPYDFHVRFH = 'Store' -%} {%- assign SDUJVKJWOA = 'no' -%} {%- assign OPQJNOERND = '' -%} {%- assign GWJWFQCLPX = 'yes' -%} {%- assign TJZDDTXQOZ = 'yes' -%} {%- assign OGQQMXVAWP = 'yes' -%} {%- assign FJGENXGBKL = "" -%} {%- assign MGLZJKOPTX = shop.metafields.SEOMetaManager.knowledgeGraphConfig -%} {%- assign QFNYBRWCCN = MGLZJKOPTX | remove: "{"| remove: "}" -%} {%- assign GKONYEAIJM = QFNYBRWCCN | split: ',"' -%} {%- for YTXZXKCTHQ in GKONYEAIJM -%} {%- assign OWYKVUBUPZ = YTXZXKCTHQ | remove: '"' -%} {%- assign YXKHSGZABF = OWYKVUBUPZ | split: ":" -%} {%- assign WSIPSSNTMG = YXKHSGZABF[0] -%} {%- assign YQIQQJQIHH = YXKHSGZABF[1] | replace: '%3A', ':' | replace: '\/', '/' | replace: '%2F', '/' | replace: '%2B', '+' -%} {%- case WSIPSSNTMG -%} {%- when 'facebook' -%} {%- assign FJGENXGBKL = FJGENXGBKL | append: ', "' | append: YQIQQJQIHH | append: '"' -%} {%- when 'twitter' -%} {%- assign FJGENXGBKL = FJGENXGBKL | append: ', "' | append: YQIQQJQIHH | append: '"' -%} {%- when 'instagram' -%} {%- assign FJGENXGBKL = FJGENXGBKL | append: ', "' | append: YQIQQJQIHH | append: '"' -%} {%- when 'pinterest' -%} {%- assign FJGENXGBKL = FJGENXGBKL | append: ', "' | append: YQIQQJQIHH | append: '"' -%} {%- when 'youtube' -%} {%- assign FJGENXGBKL = FJGENXGBKL | append: ', "' | append: YQIQQJQIHH | append: '"' -%} {%- when 'googleplus' -%} {%- assign FJGENXGBKL = FJGENXGBKL | append: ', "' | append: YQIQQJQIHH | append: '"' -%} {%- when 'linkedin' -%} {%- assign FJGENXGBKL = FJGENXGBKL | append: ', "' | append: YQIQQJQIHH | append: '"' -%} {%- when 'JSONLD_enable' -%} {%- assign OIAKBMSGHU = YQIQQJQIHH -%} {%- when 'JSONLD_showLocalBusiness' -%} {%- assign KQNYHUZYPN = YQIQQJQIHH -%} {%- when 'JSONLD_customerServicePhone' -%} {%- assign OYKFPZYAWX = YQIQQJQIHH -%} {%- when 'JSONLD_techSupportPhone' -%} {%- assign ETHLCRFAXW = YQIQQJQIHH -%} {%- when 'JSONLD_salesPhone' -%} {%- assign HKXGXORIIS = YQIQQJQIHH -%} {%- when 'JSONLD_businessType' -%} {%- assign ZPYDFHVRFH = YQIQQJQIHH -%} {%- when 'JSONLD_brand' -%} {%- assign LLFIJVLERS = YQIQQJQIHH -%} {%- when 'JSONLD_openingHours' -%} {%- assign CWWHEETQEG = YQIQQJQIHH -%} {%- when 'JSONLD_map' -%} {%- assign QTRRAMXSXJ = YQIQQJQIHH -%} {%- when 'JSONLD_priceRange' -%} {%- assign DRQYVTANPK = YQIQQJQIHH -%} {%- when 'JSONLD_phone' -%} {%- assign STXUWGXRCE = YQIQQJQIHH -%} {%- when 'JSONLD_address' -%} {%- assign IVHULZPBOD = YQIQQJQIHH -%} {%- when 'JSONLD_city' -%} {%- assign GNIPSPMVTN = YQIQQJQIHH -%} {%- when 'JSONLD_province' -%} {%- assign FIIJPTGHRM = YQIQQJQIHH -%} {%- when 'JSONLD_zip' -%} {%- assign CSPESNWNOP = YQIQQJQIHH -%} {%- when 'JSONLD_country' -%} {%- assign OPQJNOERND = YQIQQJQIHH -%} {%- when 'JSONLD_showProducts' -%} {%- assign GWJWFQCLPX = YQIQQJQIHH -%} {%- when 'JSONLD_showReviews' -%} {%- assign TJZDDTXQOZ = YQIQQJQIHH -%} {%- when 'JSONLD_showArticles' -%} {%- assign OGQQMXVAWP = YQIQQJQIHH -%} {%- when 'JSONLD_alternativeName' -%} {%- assign OHZYPKLMPV = YQIQQJQIHH -%} {%- endcase -%} {%- endfor -%} {%- assign FJGENXGBKL = FJGENXGBKL | remove_first: ', ' -%}
{%- assign HPEPIFXCYZ = shop.metafields.SEOMetaManager.googleVerify -%}
{% unless HPEPIFXCYZ == blank %}
{{ HPEPIFXCYZ }}
{% endunless %}
{%- unless OIAKBMSGHU == "no" -%}
{%- if WDMNPECGTE == 'shop' -%}
<!-- JSON-LD support -->
<script type="application/ld+json">
{
	"@context": "https://schema.org",
	"@type": "WebSite",
	"name": {{ shop.name | json }},
	{%- unless OHZYPKLMPV == blank -%}
		"alternateName": "{{ OHZYPKLMPV }}",
	{%- endunless -%}
	"url": "https://{{ shop.domain }}",
	"potentialAction": {
		"@type": "SearchAction",
		"target": "https://{{ shop.domain }}/search?q={query}",
		"query-input": "required name=query"
	}
}
</script>
<script type="application/ld+json">
{
	"@context": "http://schema.org",
	"@type": "Organization",
	"name": {{ shop.name | json }},
	"url": "https://{{ shop.domain }}"
	{%- unless shop.metafields.SEOMetaManager.knowledgeGraphLogo == blank -%}
		,"logo": "https://{{ shop.metafields.SEOMetaManager.knowledgeGraphLogo | remove: "\" }}"
		,"image": "https://{{ shop.metafields.SEOMetaManager.knowledgeGraphLogo | remove: "\" }}"
	{%- endunless -%}
	,"contactPoint": [
	{%- unless OYKFPZYAWX == blank -%}
			{ "@type": "ContactPoint",
				"telephone": {{ OYKFPZYAWX | json }},
				"contactType": "customer service"
			}
	{%- endunless -%}
	{%- unless ETHLCRFAXW == blank -%}
			,{ "@type": "ContactPoint",
				"telephone": {{ ETHLCRFAXW | json }},
				"contactType": "technical support"
			}
	{%- endunless -%}
	{%- unless HKXGXORIIS == blank -%}
			,{ "@type": "ContactPoint",
				"telephone": {{ HKXGXORIIS | json }},
				"contactType": "sales"
			}
	{%- endunless -%}
	]
	{%- unless FJGENXGBKL == blank -%}
		,"sameAs" : [
			{{ FJGENXGBKL }}
		]
	{%- endunless -%}
}
</script>
{%- unless KQNYHUZYPN == "no" -%}
	<script type="application/ld+json">
	{
		"@context": "https://schema.org",
		"@type": "{{ ZPYDFHVRFH }}",
		"name": {{ shop.name | json }},
		"url": "https://{{ shop.domain }}",
		"description": {{ shop.description | json }},
		"image": "https://{{ shop.metafields.SEOMetaManager.knowledgeGraphLogo | remove: "\" }}"
		{%- unless STXUWGXRCE == blank -%}
			,"telephone": "{{ STXUWGXRCE }}"
		{%- endunless -%}
		{%- unless LLFIJVLERS == blank -%}
			,"brand": {
				"@type": "Brand",
				"name": "{{ LLFIJVLERS }}"
			}
		{%- endunless -%}
		{%- unless SDUJVKJWOA == 'no' -%}
			,"openingHoursSpecification": [
				{%- unless JSONLD_hours_mo_open == "closed" -%}
					{
						"@type": "OpeningHoursSpecification",
						"dayOfWeek": "http://schema.org/Monday",
						"opens":  "{{ JSONLD_hours_mo_open }}",
						"closes": "{{ JSONLD_hours_mo_close }}"
					},
				{%- endunless -%}
				{%- unless JSONLD_hours_tu_open == "closed" -%}
					{
						"@type": "OpeningHoursSpecification",
						"dayOfWeek": "http://schema.org/Tuesday",
						"opens":  "{{ JSONLD_hours_tu_open }}",
						"closes": "{{ JSONLD_hours_tu_close }}"
					},
				{%- endunless -%}
				{%- unless JSONLD_hours_we_open == "closed" -%}
					{
						"@type": "OpeningHoursSpecification",
						"dayOfWeek": "http://schema.org/Wenesday",
						"opens":  "{{ JSONLD_hours_we_open }}",
						"closes": "{{ JSONLD_hours_we_close }}"
					},
				{%- endunless -%}
				{%- unless JSONLD_hours_th_open == "closed" -%}
					{
						"@type": "OpeningHoursSpecification",
						"dayOfWeek": "http://schema.org/Thursday",
						"opens":  "{{ JSONLD_hours_th_open }}",
						"closes": "{{ JSONLD_hours_th_close }}"
					},
				{%- endunless -%}
				{%- unless JSONLD_hours_fr_open == "closed" -%}
					{
						"@type": "OpeningHoursSpecification",
						"dayOfWeek": "http://schema.org/Friday",
						"opens":  "{{ JSONLD_hours_fr_open }}",
						"closes": "{{ JSONLD_hours_fr_close }}"
					},
				{%- endunless -%}
				{%- unless JSONLD_hours_sa_open == "closed" -%}
					{
						"@type": "OpeningHoursSpecification",
						"dayOfWeek": "http://schema.org/Saturday",
						"opens":  "{{ JSONLD_hours_sa_open }}",
						"closes": "{{ JSONLD_hours_sa_close }}"
					},
				{%- endunless -%}
				{%- unless JSONLD_hours_su_open == "closed" -%}
					{
						"@type": "OpeningHoursSpecification",
						"dayOfWeek": "http://schema.org/Sunday",
						"opens":  "{{ JSONLD_hours_su_open }}",
						"closes": "{{ JSONLD_hours_su_close }}"
					}
				{%- endunless -%}
			]
		{%- endunless -%}
		{%- unless QTRRAMXSXJ == blank -%}
			,"hasMap": "{{ QTRRAMXSXJ }}"
		{%- endunless -%}
		{%- unless DRQYVTANPK == blank -%}
			,"priceRange": "{{ DRQYVTANPK }}"
		{%- endunless -%}
		,"geo": {
			"@type": "GeoCoordinates",
			"latitude": "{{ JSONLD_lat | default: shop.latitude }}",
			"longitude": "{{ JSONLD_long | default: shop.longitude }}"
		}
		,"address": {
			"@type": "PostalAddress",
			"streetAddress": "{{ IVHULZPBOD | default: shop.address.street }}",
			"addressLocality": "{{ GNIPSPMVTN | default: shop.address.city }}",
			"addressRegion": "{{ FIIJPTGHRM | default: shop.address.province }}",
			"postalCode": "{{ CSPESNWNOP | default: shop.address.zip }}",
			"addressCountry": "{{ OPQJNOERND | default: shop.address.country }}"
		}
	}
	</script>
{%- endunless -%}
{%- endif -%}
{%- if WDMNPECGTE == 'product' -%}
{%- unless GWJWFQCLPX == "no" -%}
	{%- if product.available == false -%}
		{%- assign SXRVPFPYOT = "OutOfStock" -%}
	{%- else -%}
		{%- assign SXRVPFPYOT = "InStock" -%}
		{%- for OAPUDYYGRS in product.variants -%}
			{%- if OAPUDYYGRS.inventory_policy == "continue" -%}
				{%- assign SXRVPFPYOT = "PreOrder" -%}
			{%- endif -%}
		{%- endfor -%}
	{%- endif -%}
	<script type="application/ld+json">
	{
		"@context": "https://schema.org",
		"@id": {{ canonical_url | json }},
		"@type": "Product",
		"brand": {
			"@type": "Brand",
			"name": {{ product.vendor | json }}
		},
		"sku": {{ product.selected_or_first_available_variant.sku | json }},
		"description": {{ product.description | strip_html | json }},
		"url": {{ canonical_url | json }},
		"name": {{ product.title | json }},
		{%- if product.featured_image -%}
			"image": "https:{{ product.featured_image | product_img_url: 'grande' }}",
		{%- endif -%}
		"offers": {
			"@type": "Offer",
			"priceCurrency": "{{ shop.currency }}",
			"price": "{{ product.selected_or_first_available_variant.price | money_without_currency | remove: "," }}",
			"itemCondition": "https://schema.org/{{ UVCBPENOGI }}",
			"availability": "http://schema.org/{{ SXRVPFPYOT }}",
			"url": {{ canonical_url | json }},
			"sku": {{ OAPUDYYGRS.sku | json }},
			"seller": {
				"@type": "Organization",
				"name": {{ shop.name | json }}
			}
			{%- if OAPUDYYGRS.barcode.size == 12 -%},
				,"gtin12": "{{ OAPUDYYGRS.barcode }}"
			{% endif %}
			{%- if OAPUDYYGRS.barcode.size == 13 -%},
				,"gtin13": "{{ OAPUDYYGRS.barcode }}"
			{%- endif -%}
			{%- if OAPUDYYGRS.barcode.size == 14 -%},
				,"gtin14": "{{ OAPUDYYGRS.barcode }}"
			{%- endif -%}
		}
		{%- unless JSONLD_hideReviews == "yes" -%}
			{%- if product.metafields.yotpo.reviews_count and product.metafields.yotpo.reviews_count != "0" -%}
				,"aggregateRating": {
					"@type": "AggregateRating",
					"ratingValue": {{ product.metafields.yotpo.reviews_average }},
					"ratingCount": {{ product.metafields.yotpo.reviews_count }}
				}
			{%- endif -%}
			{%- if product.metafields.orankl.review_count and product.metafields.orankl.review_count != "0" -%}
				,"aggregateRating": {
					"@type": "AggregateRating",
					"ratingValue": {{ product.metafields.orankl.rating }},
					"ratingCount": {{ product.metafields.orankl.review_count }}
				}
			{%- endif -%}
			{%- if product.metafields.loox.num_reviews and product.metafields.loox.num_reviews != "0" -%}
				,"aggregateRating": {
					"@type": "AggregateRating",
					"ratingValue": {{ product.metafields.loox.avg_rating }},
					"ratingCount": {{ product.metafields.loox.num_reviews }}
				}
			{%- endif -%}
			{%- if product.metafields.ssw.count_rate and product.metafields.ssw.count_rate != "0" -%}
				,"aggregateRating": {
					"@type": "AggregateRating",
					"ratingValue": {{ product.metafields.ssw.avg_rate }},
					"ratingCount": {{ product.metafields.ssw.count_rate }}
				}
			{%- endif -%}
			{%- if product.metafields.vnreviews.reviewCount and product.metafields.vnreviews.reviewCount != "0" -%}
				,"aggregateRating": {
					"@type": "AggregateRating",
					"ratingValue": {{ product.metafields.vnreviews.ratingValue }},
					"ratingCount": {{ product.metafields.vnreviews.reviewCount }}
				}
			{% endif %}
			{%- if product.metafields.stamped.reviews_count and product.metafields.stamped.reviews_count != "0" -%}
				,"aggregateRating": {
					"@type": "AggregateRating",
					"ratingValue": {{ product.metafields.stamped.reviews_average }},
					"ratingCount": {{ product.metafields.stamped.reviews_count }}
				}
			{%- endif -%}
			{%- if product.metafields.kudobuzz.reviews_count and product.metafields.kudobuzz.reviews_count != "0" -%}
				,"aggregateRating": {
					"@type": "AggregateRating",
					"ratingValue": {{ product.metafields.kudobuzz.review_rating }},
					"ratingCount": {{ product.metafields.kudobuzz.reviews_count }}
				}
			{%- endif -%}
		{%- endunless -%}
	}
	</script>
{%- endunless -%}
{%- endif -%}
{%- if WDMNPECGTE == 'article' -%}
{%- unless OGQQMXVAWP == "no" -%}
	<script type="application/ld+json">
	{
		"@context": "https://schema.org",
		"@type": "Article",
		"url": {{ canonical_url | json }},
		"mainEntityOfPage": {{ canonical_url | json }},
		"name": {{ article.title | json }},
		"headline": {{ article.title | json }},
		"author": {
			"@type": "Person",
			"name": {{ article.author | json }}
		},
		"publisher": {
			"@type": "Organization",
			"name": {{ shop.name | json }}
			{%- unless shop.metafields.SEOMetaManager.knowledgeGraphLogo == blank -%}
				,"logo":
				{
					"@type": "ImageObject",
					"url": "https://{{ shop.metafields.SEOMetaManager.knowledgeGraphLogo | remove: "\" }}"
				}
			{%- endunless -%}
		},
		"image": {
			"@type": "ImageObject",
			{%- if article.image -%}
				"url": "https:{{ article | img_url: '1024x1024' }}",
{%- else -%} {%- assign ZAOVMTWVAT = article.content | escape -%} {%- if ZAOVMTWVAT contains '&lt;img' -%} {%- assign ZAOVMTWVAT = ZAOVMTWVAT | split: 'src=&quot;' -%} {%- assign ZAOVMTWVAT = ZAOVMTWVAT[1] | split: '&quot;' -%} {%- assign ZAOVMTWVAT = ZAOVMTWVAT[0] | remove: '//cdn' -%} {%- assign ZAOVMTWVAT = ZAOVMTWVAT | remove: 'http:http://' -%} {%- assign ZAOVMTWVAT = ZAOVMTWVAT | remove: 'https:' -%} {%- assign ZAOVMTWVAT = ZAOVMTWVAT | prepend: 'https://cdn' -%} {%- capture WJDLRITSNT -%}_1024x1024.{%- endcapture -%} {%- assign MQCYBMRYDE = 'pico icon thumb small compact medium large grande 1024x1024 2048x2048' | split:' ' -%} {%- for PQOPVXTKDB in MQCYBMRYDE -%} {%- capture JYMIUHXIPT -%}_{{ PQOPVXTKDB }}.{%- endcapture -%} {%- assign ZAOVMTWVAT = ZAOVMTWVAT | replace:search,replacement -%} {%- endfor -%}
							"url": "{{ ZAOVMTWVAT }}",
						{%- else -%}
							"url": "https://cdn.shopify.com/s/images/admin/no-image-grande.gif",
						{%- endif -%}
					{%- endif -%}
					"height": "1024",
					"width": "1024"
				},
				"datePublished": "{{ article.created_at }}",
				"dateModified": "{{ article.published_at }}",
				"description": {{ article.excerpt_or_content | strip_html | json }},
				"articleBody": {{ article.content | strip_html | json }}
			}
			</script>
		{%- endunless -%}
	{%- endif -%}
{%- endunless -%}
{% comment %} ROM 8:31 {% endcomment %}
<!-- end: SEO Manager 5.0.3 -->
