<div class="d-none d-sm-none d-md-none d-lg-block d-xl-block  sustainability-desktop">
  {%- for block in section.blocks -%}       
        <div class="sustainability-desktop-item">
            <div class="sustainability-desktop-text-information">
               <div class="sustainability-desktop-text-information__title">
                  {{block.settings.title}}
               </div>

               <div class="sustainability-desktop-text-information__description">
                  {{block.settings.description}}
               </div>               
            </div>
            <div class="sustainability-desktop-image"
                 style="background-image: url({{ block.settings.image_desktop | img_url: 'master' }});">
                 
                 <img src="{{ block.settings.image_desktop | img_url: 'master' }}" style="visibility:hidden;" />
            </div>      
        </div>
   {%- endfor -%}


   <!--<div class="sustainability__wrapper-tabs">
       <div class="sustainability__tabs">
            <span class="sustainability__tab"><img src="{{ 'teaser-1.png' | asset_url }}" alt="brand" class="brands__item img-responsive"></span>
            <span class="sustainability__tab"><img src="{{ 'teaser-2.png' | asset_url }}" alt="brand" class="brands__item img-responsive"></span>
            <span class="sustainability__tab"><img src="{{ 'teaser-3.png' | asset_url }}" alt="brand" class="brands__item img-responsive"></span>        
            <span class="sustainability__tab"><img src="{{ 'teaser-4.png' | asset_url }}" alt="brand" class="brands__item img-responsive"></span>
            <span class="sustainability__tab"><img src="{{ 'teaser-5.png' | asset_url }}" alt="brand" class="brands__item img-responsive"></span>
            <span class="sustainability__tab"><img src="{{ 'teaser-6.png' | asset_url }}" alt="brand" class="brands__item img-responsive"></span>
		</div>      
   </div>
   -->
   
</div>