<div class="container-fluid customer-container">
  <div class="d-flex d-sm-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex justify-content-between align-items-center customer-container-header">
    <div class="customer-container-header-title">
       {{ 'customer.account.title' | t }}
    </div>
  </div>

  <div class="customer-container-main">
    <div class="card mb-12" style="margin-bottom: 10px">
        <div class="card-header">
          {{ 'customer.orders.title' | t }}
        </div>

        <div class="card-body">
          {% paginate customer.orders by 20 %}
            {% if customer.orders.size != 0 %}

              <table class="table responsive-table table-desktop">
                <thead>
                  <tr>
                    <th>{{ 'customer.orders.order_number' | t }}</th>
                    <th>{{ 'customer.orders.date' | t }}</th>
                    <th>{{ 'customer.orders.payment_status' | t }}</th>
                    <th>{{ 'customer.orders.fulfillment_status' | t }}</th>
                    <th>{{ 'customer.orders.total' | t }}</th>
                  </tr>
                </thead>
                <tbody>
                  {% for order in customer.orders %}
                    <tr>
                      <td data-label="{{ 'customer.orders.order_number' | t }}">
                        <a href="{{ order.customer_url }}" class="btn btn--secondary btn--small">{{ order.name }}</a>
                      </td>
                      <td data-label="{{ 'customer.orders.date' | t }}">{{ order.created_at | date: format: 'month_day_year' }}</td>
                      <td data-label="{{ 'customer.orders.payment_status' | t }}">{{ order.financial_status_label }}</td>
                      <td data-label="{{ 'customer.orders.fulfillment_status' | t }}">{{ order.fulfillment_status_label }}</td>
                      <td data-label="{{ 'customer.orders.total' | t }}">{{ order.total_price | money }}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>


              <table class="table responsive-table table-mobile">
                <thead>
                  <tr>
                    <th>{{ 'customer.orders.order_number' | t }}</th>
                    <th>{{ 'customer.orders.date' | t }}</th>
                    <th>{{ 'customer.orders.total' | t }}</th>
                  </tr>
                </thead>
                <tbody>
                  {% for order in customer.orders %}
                    <tr>
                      <td data-label="{{ 'customer.orders.order_number' | t }}">
                        <a href="{{ order.customer_url }}" class="btn btn--secondary btn--small">{{ order.name }}</a>
                      </td>
                      <td data-label="{{ 'customer.orders.date' | t }}">{{ order.created_at | date: format: 'month_day_year' }}</td>
                      <td data-label="{{ 'customer.orders.total' | t }}">{{ order.total_price | money }}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>

            {% else %}

              <p>{{ 'customer.orders.none' | t }}</p>

            {% endif %}
            {% if paginate.pages > 1 %}
              {% include 'pagination' %}
            {% endif %}
          {% endpaginate %}

        </div>      
    </div>

    <div class="card mb-12" style="margin-bottom: 10px">
        <div class="card-header">
          {{ 'customer.account.details' | t }}
        </div>

        <div class="card-body">
          {{ customer.default_address | format_address }}
          <a href="/account/addresses" class="quick-link">{{ 'customer.account.view_addresses' | t }} ({{ customer.addresses_count }})</a>
        </div>      
    </div>   
  </div>

</div>  