<section class="main-about">
		<div class="container-fluid">
			<div class="row">
                {% include 'nav-sidebar', option_selected: 'about' %}				
				<div class="col">
					<div class="main-about__banner" style="background-image: url({{ section.settings.banner | img_url: 'master' }})">
						<div class="main-about__banner-title">The Beginning</div>
						<div class="main-about__banner-descr">
							Educators by Education, a New Yorker and Chicagoan met and married in 1971. Richard began in retail during 1974 and then in the fur business in 1975. Selling always came naturally and so did numbers. Kim had a dream to one day own her own boutique and that dream came true in 1987 when she had the marketing and creative vision to start Marks Furs.
						</div>
					</div>
					<div class="main-about__chronology">
						<div class="main-about__chain">
							
							<div class="main-about__period">
								<div class="main-about__period-part">
									<div class="main-about__chain-item main-about__chain-item_left main-about__chain-item_with_point">
										<div class="main-about__chain-item-date">1951</div>
										<div class="main-about__chain-item-descr">Bill Lloyd started Lloyd’s Furs in Denver, CO</div>
									</div>
									<div class="main-about__chain-item main-about__chain-item_left main-about__chain-item_with_point">
										<div class="main-about__chain-item-date">1987</div>
										<div class="main-about__chain-item-descr">October, Richard and Kim, the respective R and K in Marks Furs, best friends since 1970, started Marks Furs in their bedroom closet selling to neighbors and friends November, Moved to Beau Monde Mall, Greenwood Village, CO, December, first local newspaper ad</div>
									</div>
								</div>
								<div class="main-about__period-part">
									<div class="main-about__chain-item main-about__chain-item-image">
										<img src="{{ section.settings.photo1 | img_url: 'master' }}" alt="placeholder" class="img-responsive">
									</div>
									<div class="main-about__chain-item main-about__chain-item_right main-about__chain-item_with_point">
										<div class="main-about__chain-item-date">1988</div>
										<div class="main-about__chain-item-descr">November, Moved to Cherry Creek North, their location still today</div>
									</div>
								</div>
							</div>

							<div class="main-about__period">
								<div class="main-about__period-part">
									<div class="main-about__chain-item main-about__chain-item_left main-about__chain-item-image">
										<img src="{{ section.settings.photo2 | img_url: 'master' }}" alt="placeholder" class="img-responsive">
									</div>
									<div class="main-about__chain-item main-about__chain-item_left main-about__chain-item_with_point">
										<div class="main-about__chain-item-date">1995</div>
										<div class="main-about__chain-item-descr">Added designer brands like Zuki, Zandra Rhodes, Louis Feraud</div>
									</div>
								</div>
								<div class="main-about__period-part">
									<div class="main-about__chain-item main-about__chain-item_right main-about__chain-item_with_point">
										<div class="main-about__chain-item-date">1991</div>
										<div class="main-about__chain-item-descr">Bought the fur division of Jonas Brothers Furs in Denver, CO</div>
									</div>
									<div class="main-about__chain-item main-about__chain-item_right main-about__chain-item_with_point">
										<div class="main-about__chain-item-date">1993</div>
										<div class="main-about__chain-item-descr">Bought Lloyd’s Furs, merging the two names: Marks-Lloyd’s Furs. Created the largest fur service business in the West.Became active benefactors to local charities in the Denver metro area: Families First, Opera Colorado, Cancer League of Denver, Girls Inc.</div>
									</div>
								</div>
							</div>

							<div class="main-about__period">
								<div class="main-about__period-part">
									<div class="main-about__chain-item main-about__chain-item_left main-about__chain-item_with_point">
										<div class="main-about__chain-item-date">1996</div>
										<div class="main-about__chain-item-descr">Started advertising on local tv expanding the name around the state.</div>
									</div>
									<div class="main-about__chain-item main-about__chain-item_left main-about__chain-item_with_point">
										<div class="main-about__chain-item-date">1998</div>
										<div class="main-about__chain-item-descr">Added the legendary designer Michael Kors to the collection.</div>
									</div>
									<div class="main-about__chain-item main-about__chain-item_left main-about__chain-item_with_point">
										<div class="main-about__chain-item-date">2001</div>
										<div class="main-about__chain-item-descr">Started carrying Giuliana Teso and Byte.</div>
									</div>
									<div class="main-about__chain-item main-about__chain-item_left main-about__chain-item_with_point">
										<div class="main-about__chain-item-date">2004</div>
										<div class="main-about__chain-item-descr">Popularity of the practical fur took hold from traveling the globe.</div>
									</div>
								</div>
								<div class="main-about__period-part">
									<div class="main-about__chain-item main-about__chain-item-image">
										<img src="{{ section.settings.photo3 | img_url: 'master' }}" alt="placeholder" class="img-responsive">
									</div>
									<div class="main-about__chain-item main-about__chain-item_right main-about__chain-item_with_point main-about__chain-item_large_distance">
										<div class="main-about__chain-item-date">2000</div>
                             	        <div class="main-about__chain-item-descr">Started traveling to Milan for the first of many business trips. Began adopting newer sheared, super sheared and laser cut styles of mink, increasing sales..</div>
	                                    </div>
	                            <div class="main-about__chain-item main-about__chain-item_right main-about__chain-item_with_point">
	    	                    <div class="main-about__chain-item-date">2005</div>
										<div class="main-about__chain-item-descr">Started carrying Giuliana Teso and Byte.</div>
									</div>
								</div>
							</div>

							<div class="main-about__period">
								<div class="main-about__period-part">
									<div class="main-about__chain-item main-about__chain-item_left main-about__chain-item-image">
										<img src="{{ section.settings.photo4 | img_url: 'master' }}" alt="placeholder" class="img-responsive">
									</div>
								</div>
								<div class="main-about__period-part">
									<div class="main-about__chain-item main-about__chain-item_right main-about__chain-item_with_point">
										<div class="main-about__chain-item-date">2006</div>
										<div class="main-about__chain-item-descr">Started integrating higher fashion into direct mail pieces.</div>
									</div>
									<div class="main-about__chain-item main-about__chain-item_right main-about__chain-item_with_point">
										<div class="main-about__chain-item-date">2007</div>
										<div class="main-about__chain-item-descr">Began our presence online.</div>
									</div>
								</div>
							</div>

							<div class="main-about__period">
								<div class="main-about__period-part">
									<div class="main-about__chain-item main-about__chain-item_left main-about__chain-item_with_point">
										<div class="main-about__chain-item-date">2010</div>
										<div class="main-about__chain-item-descr">Started selling nationally online as ML Furs, creating the brand EM-EL.</div>
									</div>
									<div class="main-about__chain-item main-about__chain-item_left main-about__chain-item_with_point">
										<div class="main-about__chain-item-date">2012</div>
										<div class="main-about__chain-item-descr">Expanded marketing online with the first themed editorial spread inspired by Game of Thrones.</div>
									</div>
									<div class="main-about__chain-item main-about__chain-item_left main-about__chain-item_with_point">
										<div class="main-about__chain-item-date">2014</div>
										<div class="main-about__chain-item-descr">Online sales quadrupled and began selling luxury ski-wear to expand the collection.</div>
									</div>
								</div>
								<div class="main-about__period-part">
									<div class="main-about__chain-item main-about__chain-item-image">
										<img src="{{ section.settings.photo5 | img_url: 'master' }}" alt="placeholder" class="img-responsive">
									</div>
									<div class="main-about__chain-item main-about__chain-item_right main-about__chain-item_with_point main-about__chain-item_large_distance">
										<div class="main-about__chain-item-date">2013</div>
										<div class="main-about__chain-item-descr">First international sale online. EM-EL goes global.</div>
									</div>
									<div class="main-about__chain-item main-about__chain-item_right main-about__chain-item_with_point">
										<div class="main-about__chain-item-date">2015</div>
										<div class="main-about__chain-item-descr">Fur industry achieves 40 Billion worldwide, employing over 1 Million people.</div>
									</div>
								</div>
							</div>


						</div>
						<div class="text-center d-none d-sm-block">
						     {{'Contact us' | link_to: 'contact' |  replace: 'href', 'class="button-preview main-about__button-preview button-preview_size_sm" href' }} 
						</div>
						
					</div>
				</div>

			</div>
		</div>
	</section>


{% schema %} {
  "name": "About Us",
  "settings": [
    {
      "id": "banner",
      "type": "image_picker",
      "label": "Banner"
    }, 
    {
      "id": "photo1",
      "type": "image_picker",
      "label": "Photo 1"
    } ,
    {
      "id": "photo2",
      "type": "image_picker",
      "label": "Photo 2"
    } ,
    {
      "id": "photo3",
      "type": "image_picker",
      "label": "Photo 3"
    } ,
    {
      "id": "photo4",
      "type": "image_picker",
      "label": "Photo 4"
    } ,
    {
      "id": "photo5",
      "type": "image_picker",
      "label": "Photo 5"
    } 

  ]
}
{% endschema %}	