	<section class="banners">
		<div class="container-fluid">
			<div class="row categories_desktop">
			   {% assign preview1 = section.settings.preview1 %}
				 {% assign preview2 = section.settings.preview2 %}
			   {% include 'home_categories_content' %}
			</div>

			<div class="row categories_tablet">
			   {% assign preview1 = section.settings.preview1_tablet %}
				 {% assign preview2 = section.settings.preview2_tablet %}
			   {% include 'home_categories_content' %}
			</div>

			<div class="row categories_mobile">
			   {% assign preview1 = section.settings.preview1_mobile %}
				 {% assign preview2 = section.settings.preview2_mobile %}
			   {% include 'home_categories_content' %}
			</div>

			<div class="row">
				<div class="col-12 second_banner_desktop">
					<div class="second-banner banners__second-banner" style="background-image: url({{ section.settings.banner_full | img_url: 'master' }});">
             <div class="second_banner__shop_button">
                <a href="{{section.settings.banner_full_button_link}}" class="banner-preview__button button-preview button-preview_dark">Shop Now</a>
             </div>             
					</div>
				</div>

				<div class="col-12 second_banner_tablet">
					<div class="second-banner banners__second-banner" style="background-image: url({{ section.settings.banner_full_tablet | img_url: 'master' }});">
             <div class="second_banner__shop_button">
                <a href="{{section.settings.banner_full_button_link}}" class="banner-preview__button button-preview button-preview_dark">Shop Now</a>
             </div>          
					</div>
				</div>

				<div class="col-12 second_banner_mobile">
          <a href="{{section.settings.banner_full_button_link}}">
					<div class="second-banner banners__second-banner" style="background-image: url({{ section.settings.banner_full_mobile | img_url: 'master' }});">
					</div>
          </a>
				</div>

			</div>
		</div>
	</section>

{% schema %} {
  "name": "Categories Section",
  "settings": [
    {
      "id": "preview1",
      "type": "image_picker",
      "label": "Image for Preview 1"
    },
    {
      "id": "preview1_tablet",
      "type": "image_picker",
      "label": "Image for Preview 1 for Tablets"
    },
    {
      "id": "preview1_mobile",
      "type": "image_picker",
      "label": "Image for Preview 1 for mobiles"
    },
		{
      "id": "preview1_description",
      "type": "richtext",
      "label": "Description for Preview 1"
		},
		{
      "id": "preview1_link",
      "type": "url",
      "label": "Link for Preview 1"
		},		
    {
      "id": "preview2",
      "type": "image_picker",
      "label": "Image for Preview 2"
    },
    {
      "id": "preview2_tablet",
      "type": "image_picker",
      "label": "Image for Preview 2 for Tablets"
    },
    {
      "id": "preview2_mobile",
      "type": "image_picker",
      "label": "Image for Preview 2 for mobiles"
    },
		{
      "id": "preview2_description",
      "type": "richtext",
      "label": "Description for Preview 2"
		},
		{
      "id": "preview2_link_1",
      "type": "url",
      "label": "Link 1 for Preview 2"
		},		
		{
      "id": "preview2_link_2",
      "type": "url",
      "label": "Link 2 for Preview 2"
		},
    {
      "id": "banner_full",
      "type": "image_picker",
      "label": "Image Full Banner"
    },
    {
      "id": "banner_full_tablet",
      "type": "image_picker",
      "label": "Image Full Banner for tablets"
    },
    {
      "id": "banner_full_mobile",
      "type": "image_picker",
      "label": "Image Full Banner for mobiles"
    },
    {
      "id": "banner_full_button_text",
      "type": "text",
      "label": "Button Text"
    },
    {
      "id": "banner_full_button_link",
      "type": "url",
      "label": "Button Link"
    }        				              
  ],
  
  "presets": [
    {
      "name": "Categories Section",
      "category": "Banners"
    }
  ] 
}
{% endschema %}    