	<section>
		<div class="container-fluid">
			<div class="row">
				<div class="col-12">
          
					{%- assign  collection_image = collection.url | split: "/" | last | append: ".jpg" | file_img_url : 'master' -%}
					{%- assign  collection_image_default =  section.settings.hero | img_url: 'master' -%}
					          
					  <div class="category-banner" id="category_banner" 
					     data-default_image = "{{collection_image_default}}" 
					     style="background-image: url({{ collection_image}});">			
					

						<div class="category-banner__title">{{collection.title}}</div>
	        					  
				    {% assign class_to_link = 'breadcrumbs__link' %}
  					{% assign class_to_breadcrumbs = 'breadcrumbs' %} 
					  {% assign class_to_item = 'breadcrumbs__item' %}
					  {% assign class_to_last_item = '' %} 
            
						{%- include 'breadcrumbs' -%}
					</div>
				</div>
			</div>
		</div>
	</section>

	<script>
	window.mlfurs_collections= window.mlfurs_collections|| {};

	mlfurs_collections = {
		   collection_image: "{{collection_image}}", 
			 collection_image_default: "{{collection_image_default}}"

	}
	</script>

  {% schema %} {
  "name": "Collection Information",
  "settings": [
    {
      "id": "hero",
      "type": "image_picker",
      "label": "Hero Image"
    } 
  ]
}
{% endschema %}