	<footer class="footer">
		<div class="container-fluid">
			<div class="row">
				<div class="col-12">
					<div class="footer__main">
						<div class="footer__column footer__column_bordered">
							<div class="footer__column-title">Visit us</div>
							<ul class="footer__list">
								<li class="footer__list-item">263 Josephine St.<br>Denver, CO 80206 <br> M-S 10am-5:00pm MST</li>
								<li class="footer__list-item footer__list-item_type_number"><a class="footer__list-link" href="#">1-877-653-3877</a></li>
								<li class="footer__list-item footer__list-item_type_number"><a class="footer__list-link" href="#">1-303-322-2287</a></li>
							</ul>
							<ul class="footer__social">
								<li class="footer__social-item footer__social-item_blured"><a href="#"><img src="{{ 'fb.png' | asset_url }}" alt="fb"></a></li>
								<li class="footer__social-item footer__social-item_blured"><a href="#"><img src="{{ 'tw.png' | asset_url }}" alt="tw"></a></li>
								<li class="footer__social-item footer__social-item_blured"><a href="#"><img src="{{ 'inst.png' | asset_url }}" alt="inst"></a></li>
								<li class="footer__social-item"><a href="#"><img src="{{ 'yt.png' | asset_url }}" alt="yt"></a></li>
								<li class="footer__social-item"><a href="#"><img src="{{ 'gp.png' | asset_url }}" alt="gp"></a></li>
							</ul>
							<div class="footer__paypal">
								<img class="img-responsive img-width" src="{{ 'paypal.png' | asset_url }}" alt="paypal">
							</div>
						</div>
						<div class="footer__column">
							<div class="footer__column-title">DESIGNERS</div>
							<ul class="footer__list">
								<li class="footer__list-item"><a class="footer__list-link" href="#">Featured Designers</a></li>
								<li class="footer__list-item"><a class="footer__list-link" href="#">Brand A-Z</a></li>
							</ul>
							<div class="footer__column-title">SALE</div>
						</div>
						<div class="footer__column">
							<div class="footer__column-title">FEATURED</div>
							<ul class="footer__list">
								<li class="footer__list-item"><a class="footer__list-link" href="#">Lookbooks</a></li>
								<li class="footer__list-item"><a class="footer__list-link" href="#">Bridal Fur / Evening Fur</a></li>
								<li class="footer__list-item"><a class="footer__list-link" href="#">Home Decor / Collection</a></li>
								<li class="footer__list-item"><a class="footer__list-link" href="#">Fan Wear</a></li>
								<li class="footer__list-item"><a class="footer__list-link" href="#">Spotlight Promotions / Weekly Deals</a></li>
								<li class="footer__list-item"><a class="footer__list-link" href="#">Made to Order</a></li>
								<li class="footer__list-item"><a class="footer__list-link" href="#">Gift Guide</a></li>
								<li class="footer__list-item"><a class="footer__list-link" href="#">New Arrivals</a></li>
								<li class="footer__list-item"><a class="footer__list-link" href="#">Best Sellers</a></li>							
							</ul>
						</div>
						<div class="footer__column">
							<div class="footer__column-title">PREMIUM FUR</div>
							<ul class="footer__list">
								<li class="footer__list-item"><a class="footer__list-link" href="#">All Fur</a></li>
								<li class="footer__list-item"><a class="footer__list-link" href="#">Vests</a></li>
								<li class="footer__list-item"><a class="footer__list-link" href="#">Coats</a></li>
								<li class="footer__list-item"><a class="footer__list-link" href="#">Jackets</a></li>
								<li class="footer__list-item"><a class="footer__list-link" href="#">Plus Size</a></li>
							</ul>
						</div>
						<div class="footer__column">
							<div class="footer__column-title">OUTERWEAR</div>
							<ul class="footer__list">
								<li class="footer__list-item"><a class="footer__list-link" href="#">All Outerwear</a></li>
								<li class="footer__list-item"><a class="footer__list-link" href="#">Shearlings</a></li>
								<li class="footer__list-item"><a class="footer__list-link" href="#">Apres Ski</a></li>
								<li class="footer__list-item"><a class="footer__list-link" href="#">Jackets</a></li>
								<li class="footer__list-item"><a class="footer__list-link" href="#">Cashmere</a></li>
								<li class="footer__list-item"><a class="footer__list-link" href="#">Parkas &  Puffers</a></li>
							</ul>
						</div>
						<div class="footer__column">
							<div class="footer__column-title">LUXURY SKi WEAR</div>
							<ul class="footer__list">								
                                <li class="footer__list-item"><a class="footer__list-link" href="#">All Ski Wear</a></li>
                                <li class="footer__list-item"><a class="footer__list-link" href="#">Ski Jackets</a></li>
                                <li class="footer__list-item"><a class="footer__list-link" href="#">Ski Pants</a></li>
								<li class="footer__list-item"><a class="footer__list-link" href="#">Base Layers</a></li>
								<li class="footer__list-item"><a class="footer__list-link" href="#">Mid Layers</a></li>
								<li class="footer__list-item"><a class="footer__list-link" href="#">Ski Accessories</a></li>
							</ul>
						</div>
						<div class="footer__column">
							<div class="footer__column-title">MENS</div>
							<ul class="footer__list">
								<li class="footer__list-item"><a class="footer__list-link" href="#">All Mens</a></li>
								<li class="footer__list-item"><a class="footer__list-link" href="#">Furs / Shearlings</a></li>
								<li class="footer__list-item"><a class="footer__list-link" href="#">Ski Jackets</a></li>
								<li class="footer__list-item"><a class="footer__list-link" href="#">Ski Pants</a></li>
								<li class="footer__list-item"><a class="footer__list-link" href="#">Base Layers</a></li>
								<li class="footer__list-item"><a class="footer__list-link" href="#">Mid Layers</a></li>
								<li class="footer__list-item"><a class="footer__list-link" href="#">Ski Accessories</a></li>
								<li class="footer__list-item"><a class="footer__list-link" href="#">Ski Equipment</a></li>
								<li class="footer__list-item"><a class="footer__list-link" href="#">Mens Gloves</a></li>
							</ul>
						</div>
						<div class="footer__column">
							<div class="footer__column-title">SERVICE & SUSTAIN</div>
							<ul class="footer__list">
								<li class="footer__list-item"><a class="footer__list-link" href="#">Book Fur Services</a></li>
								<li class="footer__list-item"><a class="footer__list-link" href="#">Fur Service Pricing</a></li>
								<li class="footer__list-item"><a class="footer__list-link" href="#">Fur Storage / Cleaning / Glazing</a></li>
								<li class="footer__list-item"><a class="footer__list-link" href="#">Fur Trade-Ins</a></li>
								<li class="footer__list-item"><a class="footer__list-link" href="#">Fur Repairs / Alterations / Monograms</a></li>
								<li class="footer__list-item"><a class="footer__list-link" href="#">Fur Remodels / Restyles</a></li>
								<li class="footer__list-item"><a class="footer__list-link" href="#">Ugg Restoration</a></li>
								<li class="footer__list-item"><a class="footer__list-link" href="#">Sustain</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-12">
					<div class="footer__bottom">
						<div class="footer__bottom-left">
							<ul class="footer__bottom-menu">
								<li class="footer__bottom-menu-item"><a class="footer__bottom-menu-link" href="#">About Us</a></li>
								<li class="footer__bottom-menu-item"><a class="footer__bottom-menu-link" href="#">Careers</a></li>
								<li class="footer__bottom-menu-item"><a class="footer__bottom-menu-link" href="#">Customer Service</a></li>
								<li class="footer__bottom-menu-item"><a class="footer__bottom-menu-link" href="#">Sitemap</a></li>
								<li class="footer__bottom-menu-item"><a class="footer__bottom-menu-link" href="#">Privacy Policy</a></li>
							</ul>
							<div class="footer__bottom-copyright">&copy; 2018 Marks-Lloyds Furs. All Rights Reserved</div>
						</div>
						<ul class="footer__bottom-right">
							<li class="footer__bottom-company"><a href="#"><img src="{{ 'authorize.png' | asset_url }}" alt="authorize.net"></a></li>
							<li class="footer__bottom-company"><a href="#"><img src="{{ 'accredited.png' | asset_url }}" alt="accredited"></a></li>
							<li class="footer__bottom-company"><a href="#"><img src="{{ 'trustwave.png' | asset_url }}" alt="trustwave"></a></li>
							<li class="footer__bottom-company"><a href="#"><img src="{{ 'verified.png' | asset_url }}" alt="verified"></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</footer>


<!--<footer class="footer">
	<div class="footer_top">
		<div class="wrapper">
			<div class="flex between">
				<div class="footer_top__option">
					<div class="title">
						<span class="font-1 _semi">VISIT US</span>
					</div>
				</div>
				<div class="footer_top__option">
					<div class="title">
						<span class="font-1 _semi">DESIGNERS</span>
					</div>					
				</div>
				<div class="footer_top__option">
					<div class="title">
						<span class="font-1 _semi">FEATURED</span>
					</div>										
				</div>
				<div class="footer_top__option">
					<div class="title">
						<span class="font-1 _semi">PREMIUM FUR</span>
					</div>															
				</div>
				<div class="footer_top__option">
					<div class="title">
						<span class="font-1 _semi">OUTERWEAR</span>
					</div>
				</div>
				<div class="footer_top__option">
					<div class="title">
						<span class="font-1 _semi">LUXURY SKi WEAR</span>
					</div>					
				</div>
				<div class="footer_top__option">
					<div class="title">
						<span class="font-1 _semi">MENS</span>
					</div>										
				</div>
				<div class="footer_top__option">
					<div class="title">
						<span class="font-1 _semi">SERVICE & SUSTAIN</span>
					</div>					
				</div>
			</div>
		</div>	
	</div>

	<div class="footer_bottom">
	   <div class="wrapper">
	   	   <div class="flex between">
		   	   <div class="left-section">
					<ul class="footer_bottom__menu flex start">
						<li class="option"><span class="font-1 _regular">About Us</span></li>
						<li class="option"><span class="font-1 _regular">Careers</span></li>
						<li class="option"><span class="font-1 _regular">Customer Service</span></li>
						<li class="option"><span class="font-1 _regular">Sitemap</span></li>
						<li class="option"><span class="font-1 _regular">Privacy Policy</span></li>
					</ul>

					<div class="footer_bottom_copyright">
						<span class="font-1 _regular">&copy; 2018 Marks-Lloyds Furs. All Rights Reserved</span>
					</div>				   	   	
		   	   </div>

		   	   <div class="right-section">
		   	   	  <img src="{{ 'security_logos.png' | asset_url }}" alt="Logo" />
		   	   </div>	   	   	
	   	   </div>
	   </div>	
	</div>   	
</footer>
-->