	<footer class="footer">
		<div class="container-fluid">
			<div class="row">
				<div class="col-12">
					<div class="footer__main">
						<div class="footer__column footer__column_bordered" style="flex: 0 0 209px">
							<div class="footer__column-title">Visit us</div>
							<ul class="footer__list">
								<li class="footer__list-item">263 Josephine St.<br>Denver, CO 80206 <br> M-S 10am-5:00pm MST</li>
								<li class="footer__list-item footer__list-item_type_number"><a class="footer__list-link" href="#">1-877-653-3877</a></li>
								<li class="footer__list-item footer__list-item_type_number"><a class="footer__list-link" href="#">1-303-322-2287</a></li>
							</ul>
							<ul class="footer__social">
								<li class="footer__social-item footer__social-item_blured"><a href="#"><img src="{{ 'fb.png' | asset_url }}" alt="fb"></a></li>
								<li class="footer__social-item footer__social-item_blured"><a href="#"><img src="{{ 'tw.png' | asset_url }}" alt="tw"></a></li>
								<li class="footer__social-item footer__social-item_blured"><a href="#"><img src="{{ 'inst.png' | asset_url }}" alt="inst"></a></li>
								<li class="footer__social-item"><a href="#"><img src="{{ 'yt.png' | asset_url }}" alt="yt"></a></li>
								<li class="footer__social-item"><a href="#"><img src="{{ 'gp.png' | asset_url }}" alt="gp"></a></li>
							</ul>
							<div class="footer__paypal">
								<img class="img-responsive img-width" src="{{ 'paypal.png' | asset_url }}" alt="paypal">
							</div>
						</div>

						<div class="footer__column d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex">
						    {%- include "footer_menu_option", menu_title: section.settings.text_for_footer_menu_linklist, menu_name:  section.settings.footer_menu_linklist  -%}
							{%- include "footer_menu_option", menu_title: section.settings.text_for_footer_menu2_linklist, menu_name:  section.settings.footer_menu2_linklist  -%}
						</div>

						<div class="footer__column" style="flex: 0 0 209px"> 
							<div class="footer__column-title">STAY CONECTED</div>
							<ul class="footer__list">
								<li class="footer__social-item footer__social-item_blured">
								   <a class="footer__list-link" href="https://www.facebook.com/MarksLloydsFurs" target="_blank">
								      <span style="width: 16px;"><img src="{{ 'fb.png' | asset_url }}" alt="fb"></span>	
									  &nbsp; Facebook
								   </a>
								</li>
								<li class="footer__social-item footer__social-item_blured">
								   <a class="footer__list-link" href="https://twitter.com/markslloydsfurs" target="_blank">
								      <span style="width: 16px;"><img src="{{ 'tw.png' | asset_url }}" alt="tw"></span>
								      &nbsp; Twitter
								   </a>
								</li>

								<li class="footer__social-item footer__social-item_blured">
								   <a class="footer__list-link" href="https://www.instagram.com/mlfurs/" target="_blank">
								      <span style="width: 16px;"><img src="{{ 'inst.png' | asset_url }}" alt="tw"></span>
								      &nbsp; Instagram
								   </a>
								</li>																

							</ul>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-12">
					<div class="footer__bottom">
						<div class="footer__bottom-left">
							<ul class="footer__bottom-menu">
								<li class="footer__bottom-menu-item"><a class="footer__bottom-menu-link" href="#">Careers</a></li>
								<li class="footer__bottom-menu-item"><a class="footer__bottom-menu-link" href="#">Sitemap</a></li>
								<li class="footer__bottom-menu-item"><a class="footer__bottom-menu-link" href="#">Privacy Policy</a></li>
							</ul>
							<div class="footer__bottom-copyright">&copy; 2018 Marks-Lloyds Furs. All Rights Reserved</div>
						</div>
						<ul class="footer__bottom-right">
							<li class="footer__bottom-company"><a href="#"><img src="{{ 'authorize.png' | asset_url }}" alt="authorize.net"></a></li>
							<li class="footer__bottom-company"><a href="#"><img src="{{ 'accredited.png' | asset_url }}" alt="accredited"></a></li>
							<li class="footer__bottom-company"><a href="#"><img src="{{ 'trustwave.png' | asset_url }}" alt="trustwave"></a></li>
							<li class="footer__bottom-company"><a href="#"><img src="{{ 'verified.png' | asset_url }}" alt="verified"></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</footer>
{% schema %} {
  "name": "Footer",
  "settings": [
    {
      "type": "text",
      "id": "text_for_footer_menu_linklist",
      "label": "Title for Menu 1"
    },	  
    {
      "type": "link_list",
      "id": "footer_menu_linklist",
      "label": "Menu 1"
    },
    {
      "type": "text",
      "id": "text_for_footer_menu2_linklist",
      "label": "Title for Menu 2"
    },
    {
      "type": "link_list",
      "id": "footer_menu2_linklist",
      "label": "Menu 2"      
    }	
  ]
}
{% endschema %}