  <div class="promo-bar">More info/promo bar</div>  

  <header>

    <div class="top-nav">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="top-nav__content">
              <div class="top-nav__text">Free Shipping! On all Purchases</div>
              <div class="top-nav__nav">
                <a href="#" class="top-nav__nav-item top-nav__nav-item_icon_phone">1-877-653-3877</a>
                <a href="#" class="top-nav__nav-item top-nav__nav-item_icon_chat">Live chat</a>
                <a href="#login-popup" class="top-nav__nav-item top-nav__nav-item_icon_user popup">login/Sign Up</a>
                <a href="#" class="top-nav__nav-item top-nav__nav-item_icon_cart">Bag</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="main-nav">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="main-nav__content">

              <div class="main-nav__burger-container">
                <div class="main-nav__mobile-burger mobile-burger">
                  <span class="mobile-burger__item"></span>
                  <span class="mobile-burger__item"></span>
                  <span class="mobile-burger__item"></span>
                  <span class="mobile-burger__item"></span>
                </div>
              </div>

              <div class="d-sm-none main-nav__mobile-phone">
                <a href="#login-popup" class="popup">
                  <img src="{{ 'phone-dark.png' | asset_url }}" alt="phone-dark">
                </a>
              </div>
              

              <div class="logo">
                <a href="index.html"><img class="img-responsive img-width" src="{{ section.settings.logo | img_url: 'master' }}" alt="Logo"></a>
              </div>

              <div class="main-nav__mobile-nav mobile-nav">
                <form class="mobile-nav__search-form">
                  <input class="mobile-nav__input main-nav__search-form-input" placeholder="Search...">
                </form>
                <a href="#" class="mobile-nav__item mobile-nav__item-search"><img src="{{ 'search-dark.png' | asset_url }}" alt="search" ></a>
                <a href="#login-popup" class="mobile-nav__item popup"><img src="{{ 'user-dark.png' | asset_url }}" alt="search" ></a>
                <a href="#" class="mobile-nav__item"><img src="{{ 'cart-dark.png' | asset_url }}" alt="search" ></a>
              </div>

              <ul class="menu">
                <li class="menu__item menu__item_dropdown">
                  <a class="menu__item-link" href="#">Shop</a>
                  <div class="menu__subnav">
                    <ul class="menu__subnav-menu">
                      <li class="menu__subnav-menu-item">
                        <a class="menu__subnav-menu-link menu__subnav-menu-link_dropdown" href="#">Feature</a>
                        <ul class="menu__left-subnav">
                          <li class="menu__left-subnav-item"><a href="#" class="menu__left-subnav-link">Lookbooks</a></li>
                          <li class="menu__left-subnav-item"><a href="#" class="menu__left-subnav-link">Bridal Fur/ Evening Fur</a></li>
                          <li class="menu__left-subnav-item"><a href="#" class="menu__left-subnav-link">Home Decor / Collection</a></li>
                          <li class="menu__left-subnav-item"><a href="#" class="menu__left-subnav-link">Fan Wear</a></li>
                          <li class="menu__left-subnav-item"><a href="#" class="menu__left-subnav-link">Lorem ipsum dolor sit.</a></li>
                          <li class="menu__left-subnav-item"><a href="#" class="menu__left-subnav-link">lorem</a></li>
                          <li class="menu__left-subnav-item"><a href="#" class="menu__left-subnav-link">Lorem ipsum dolor.</a></li>
                        </ul>
                        <div class="menu__right-subnav">
                          <div class="menu__banner-container">
                            <div class="menu__banner menu__banner_large menu__banner_content_bottom" style="background-image: url({{ 'preview-2.png' | asset_url }});">
                              <div class="menu__banner-descr-bottom">
                                25% off on all <br>
                                Premium Fur
                              </div>
                            </div>
                          </div>
                          <div class="menu__banner-container">
                            <div class="menu__banner menu__banner_small" style="background-image: url({{ 'menu-image-2.png' | asset_url }});">
                              <div class="menu__banner-descr">
                                <div class="menu__banner-descr-title">Ski sale 45% off</div>
                                <div class="menu__banner-descr-text">Save 45% on your next ski <br>purchase using our code</div>
                                <div class="menu__banner-descr-code">code: ski2018</div>
                              </div>
                            </div>
                            <div class="menu__banner menu__banner_small menu__banner_content_bottom" style="background-image: url({{ 'banner-2.png' | asset_url }});">
                              <div class="menu__banner-descr-bottom">
                                2019 Lookbook
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li class="menu__subnav-menu-item">
                        <a class="menu__subnav-menu-link menu__subnav-menu-link_dropdown" href="#">Premium Fur</a>
                        <ul class="menu__left-subnav">
                          <li class="menu__left-subnav-item"><a href="#" class="menu__left-subnav-link">Lookbooks</a></li>
                          <li class="menu__left-subnav-item"><a href="#" class="menu__left-subnav-link">Bridal Fur/ Evening Fur</a></li>
                          <li class="menu__left-subnav-item"><a href="#" class="menu__left-subnav-link">Home Decor / Collection</a></li>
                          <li class="menu__left-subnav-item"><a href="#" class="menu__left-subnav-link">Fan Wear</a></li>
                          <li class="menu__left-subnav-item"><a href="#" class="menu__left-subnav-link">Lorem ipsum dolor sit.</a></li>
                          <li class="menu__left-subnav-item"><a href="#" class="menu__left-subnav-link">lorem</a></li>
                          <li class="menu__left-subnav-item"><a href="#" class="menu__left-subnav-link">Lorem ipsum dolor.</a></li>
                        </ul>
                      </li>
                      <li class="menu__subnav-menu-item"><a class="menu__subnav-menu-link" href="#">Outwear</a></li>
                      <li class="menu__subnav-menu-item"><a class="menu__subnav-menu-link" href="#">Luxury Ski Wear</a></li>
                      <li class="menu__subnav-menu-item"><a class="menu__subnav-menu-link" href="#">Men</a></li>
                    </ul>
                    <ul class="menu__left-subnav menu__left-subnav_static">
                      <li class="menu__left-subnav-item"><a href="#" class="menu__left-subnav-link">Static</a></li>
                      <li class="menu__left-subnav-item"><a href="#" class="menu__left-subnav-link">Menu!</a></li>
                      <li class="menu__left-subnav-item"><a href="#" class="menu__left-subnav-link">if you</a></li>
                      <li class="menu__left-subnav-item"><a href="#" class="menu__left-subnav-link">want</a></li>
                      <li class="menu__left-subnav-item"><a href="#" class="menu__left-subnav-link">remove</a></li>
                      <li class="menu__left-subnav-item"><a href="#" class="menu__left-subnav-link">this</a></li>
                      <li class="menu__left-subnav-item"><a href="#" class="menu__left-subnav-link">menu</a></li>
                    </ul>
                    <div class="menu__right-subnav menu__right-subnav_static">
                      <div class="menu__banner-container">
                        <div class="menu__banner menu__banner_large menu__banner_content_bottom" style="background-image: url({{ 'menu-image-1.png' | asset_url }});">
                          <div class="menu__banner-descr-bottom">
                            25% off on all <br>
                            Premium Fur
                          </div>
                        </div>
                      </div>
                      <div class="menu__banner-container">
                        <div class="menu__banner menu__banner_small" style="background-image: url({{ 'menu-image-2.png' | asset_url }});">
                          <div class="menu__banner-descr">
                            <div class="menu__banner-descr-title">Ski sale 45% off</div>
                            <div class="menu__banner-descr-text">Save 45% on your next ski <br>purchase using our code</div>
                            <div class="menu__banner-descr-code">code: ski2018</div>
                          </div>
                        </div>
                        <div class="menu__banner menu__banner_small menu__banner_content_bottom" style="background-image: url({{ 'menu-image-3.png' | asset_url }});">
                          <div class="menu__banner-descr-bottom">
                            2019 Lookbook
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="menu__item"><a class="menu__item-link" href="#">Designers</a></li>
                <li class="menu__item"><a class="menu__item-link" href="#">Service & Sustain</a></li>
                <li class="menu__item menu__item_color_accent"><a class="menu__item-link" href="#">Sale</a></li>
              </ul>
              <form class="main-nav__search-form">
                <input class="main-nav__search-form-input" placeholder="What are you looking for?">
                <input type="submit" class="main-nav__search-form-button" value>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

  </header>


{% schema %} {
  "name": "Header",
  "settings": [
    {
      "id": "logo",
      "type": "image_picker",
      "label": "Logo (186 x 53)"
    } 
  ]
}
{% endschema %}