  <!--<div class="promo-bar">More info/promo bar</div>  -->
  <header>
    <div class="top-nav">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="top-nav__content">
              <div class="top-nav__text">Free Shipping! On all Purchases</div>
              <div class="top-nav__nav">
                <a href="#" class="top-nav__nav-item top-nav__nav-item_icon_phone">1-877-653-3877</a>
                <a href="#" class="top-nav__nav-item top-nav__nav-item_icon_chat">Live chat</a>                                   
                {% if customer %}
                  <a href="/account" class="top-nav__nav-item top-nav__nav-item_icon_user">{{ customer.first_name }}</a> |  
                  {{ 'Log out' | customer_logout_link | replace: '<a', '<a class="top-nav__nav-item top-nav__nav-item_logout-link"' }}
                {% else %}
                    <a href="/account/register" class="top-nav__nav-item top-nav__nav-item_icon_user">login/Sign Up</a>
                {% endif %}
                <a href="/cart" class="top-nav__nav-item top-nav__nav-item_icon_cart">Bag</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="main-nav">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="main-nav__content">

              {% unless linklists[section.settings.main_linklist] == blank %}
              <div class="main-nav__burger-container">
								<div class="main-nav__mobile-burger mobile-burger">
									<span class="mobile-burger__item"></span>
									<span class="mobile-burger__item"></span>
									<span class="mobile-burger__item"></span>
									<span class="mobile-burger__item"></span>
								</div>                
              </div>              
              {% endunless %}
                            
              <div class="d-sm-none main-nav__mobile-phone">
                <a href="#login-popup" class="popup">
                  <img src="{{ 'phone-dark.png' | asset_url }}" alt="phone-dark">
                </a>
              </div>
              

              <div class="logo">
                <a href="/"><img class="img-responsive img-width" src="{{ section.settings.logo | img_url: 'master' }}" alt="Logo"></a>
              </div>

              <div class="main-nav__mobile-nav mobile-nav">
                <form class="mobile-nav__search-form">
                  <input class="mobile-nav__input main-nav__search-form-input" placeholder="Search...">
                </form>
                <!--<a href="#" class="mobile-nav__item mobile-nav__item-search"><img src="{{ 'search-dark.png' | asset_url }}" alt="search" ></a>-->

                {% if customer %}
                    <a href="/account" class="mobile-nav__item popup"><img src="{{ 'user-dark.png' | asset_url }}" alt="User" ></a>                  
                {% else %}
                    <a href="/account/register" class="mobile-nav__item popup"><img src="{{ 'user-dark.png' | asset_url }}" alt="User" ></a>
                {% endif %}

                
                <a href="#" class="mobile-nav__item"><img src="{{ 'cart-dark.png' | asset_url }}" alt="search" ></a>
              </div>

              <nav class="menu grid__item medium-up--one-half small--hide" id="AccessibleNav" role="navigation">
                 {% include 'site-nav' %}
              </nav>  
               <form class="main-nav__search-form" action="/search" method="get" role="search">
                <input class="main-nav__search-form-input" placeholder="What are you looking for?" type="search" name="q" value="{{ search.terms | escape }}">                
                <input type="submit" class="main-nav__search-form-button" value>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  {% include 'site-mobile-nav' %}

{% schema %} {
  "name": "Header",
  "settings": [
    {
      "id": "logo",
      "type": "image_picker",
      "label": "Logo (186 x 53)"
    },
    {
      "type": "link_list",
      "id": "main_linklist",
      "label": "Menu",
      "default": "main-menu"
    }
  ]
}
{% endschema %}