			<div class="product-card__content">
				<div class="row">

        {%- if product.images.size > 0 -%}
          <div class="product-card__slider-nav-container d-none d-lg-flex">
            <div class="slider-nav product-card__slider-nav">
              {%- for image in product.images -%}
                <div class="slider-nav__item">
                  <img  alt="product" class="slider-nav__image img-responsive img-width" src="{{ image | product_img_url: '240x240', scale: 2 }}" alt="{{ product.title | escape }}" />
                </div>
              {%- endfor -%}  
            </div>
          </div>
        {%- endif -%}  


				<div class="col d-lg-none">
					<div class="product-info__size">em-el</div>
					<div class="product-info__descr">{{product.title | scape}}</div>
					<div class="product-info__price-rate">
						<div class="product-info__price">{{product.price | money}}</div>
						<div class="product-info__rate">                           
                           {%- if product__reviews-count == 0 -%}
                              <a href="#" class="quick-link product-info__quick-link quick-link_size_sm">Be the first to review</a>
                           {%- endif -%}   
                           {%- include "rate_reviews" -%}
                           {%- if product__reviews-count == 0 -%}
                                    <span>No Reviews</span>
                           {%- endif -%}

                        </div>
					</div>
				</div>


        {%- if product.images.size > 0 -%}
				  <div class="product-card__slider-for-container">
					  <div class="slider-for product-card__slider-for">
              {%- for image in product.images -%}
                <div class="slider-for__item">
                  <img src="{{ image | product_img_url: 'master'}}" alt="product" class="slider-nav__image img-responsive img-width">
                </div>
              {%- endfor -%}  
            </div>
          </div>
        {%- endif -%}        

				<div class="product-card__product-info-container">
					<div class="product-info product-card__product-info">
						<div class="product-info__size d-none d-lg-block">em-el</div>
						<div class="product-info__descr d-none d-lg-block">{{product.title | scape}}</div>
						<div class="product-info__price-rate d-none d-lg-flex">
                            {%- assign variant= product.selected_or_first_available_variant-%}
                            {%- assign compare_at_price = variant.compare_at_price | times: 1 -%}
                            {%- assign price = variant.price -%}

							<div class="product-info__price">                            
                                {%- assign display_original= "display:none" -%}
                                {%- assign display_current= "display:block" -%}
                                {%- if compare_at_price > 0 and compare_at_price != price -%}
                                   {%- assign display_original= "display:block" -%}
                                   {%- assign display_current= "display:none" -%}
                                {%- endif -%}

                                <div class="product-info__original__price" id="original_price_container" 
                                     style="{{display_original}}">                                                                
                                    Original Price: <span id="original_price_value">{{compare_at_price | money}}</span> 
                                </div>

                                {%- include "was-price" -%}

                                <div class="product-info__now__price" id="now_price_container" style="{{display_original}}">                                                                                                    
                                    Now: <span id="now_price_value">{{price | money}}</span> 
                                </div>

                                <div class="product-info__original__price" id="current_price_container" style="{{display_current}}">                                                                
                                    <span id="current_price_value" >{{product.price | money}}</span>
                                </div>


                            </div>
							<div class="product-info__rate">
                                {%- include "count_reviews" -%}                                
                                {%- if product__reviews-count == 0 -%}
                                       <a href="#" class="quick-link product-info__quick-link quick-link_size_sm">Be the first to review</a>
                                {%- endif -%}   
                                {%- include "rate_reviews" -%} 
                                {%- if product__reviews-count == 0 -%}
                                       <span>No Reviews</span>
                                {%- endif -%}                                
                            </div>
						</div>

                        {% form "product", product %}

                        {%- if product.variants.size > 1 -%}  
                            {% assign variant_selected = '' %}                
                            {%- for variant in product.variants -%}                                                                
                                {%- if variant.selected == true -%}                                    
                                    {% assign variant_selected = variant.title %}
                                {%- endif -%}
                            {%- endfor -%}                                        

                            {%- if variant_selected != "" -%}
                                {% assign variantArray = variant_selected | split: " / " %}
                            {%- endif -%} 
                            
                            {% assign options_separated_by_comma = '' %}
                            {% assign comma = '' %}
 
                            {% for product_option in product.options_with_values %}
                                {% assign options_separated_by_comma = options_separated_by_comma | append: comma | append: product_option.name %}
                                {% assign comma = ',' %}

                                {% assign variantItem = variantArray[forloop.index0] | strip %}

                                {%- if product_option.name == "Color" -%}                                    
                                    <div class="product-info__color-boxes">
                                {%- else -%}
                                    <div class="product-info__size-boxes">
                                {%- endif -%} 

                                {% assign selected_value = '' %}  
                                {% for value in product_option.values %}
                                    {% assign selected = '' %} 
                                    {% assign outline = 'outline: 1px solid #ededed;' %}                                     
                                    

                                    {%- if variant_selected != '' and value == variantItem  -%}
                                        {% assign selected = 'product-info__size-box_active product-info__color-box_active' %} 
                                        {% assign selected_value = value %}                                    
                                        {% assign outline = '' %}
                                    {%- endif -%}                                
                                    

                                    {%- if product_option.name == "Color" -%}                                        
                                            {% assign image_to_color = value | remove: " " | remove: "/" | downcase | append: ".png" %}
                                            <div class="product-info__color-box {{selected}} option_to_select" data-name="{{value}}" data-option="{{product_option.name}}" 
                                                style="background-image: url('{{image_to_color | asset_url}}'); 
                                                        background-repeat: no-repeat;
                                                        {{outline}}
                                                        background-size: 100%;" id="option_{{product_option.name}}_{{value}}"></div>

                                    {%- else -%}
                                        <div class="product-info__size-box {{selected}} option_to_select" data-name="{{value}}" data-option="{{product_option.name}}" id="option_{{product_option.name}}_{{value}}">{{ value | replace: "-", "<br />" }}</div>
                                    {%- endif -%}                        
                                    {% endfor %} 

                                    {%- if product_option.name == "Size" -%}
                                        <a href="#" class="product-info__size-link quick-link quick-link_size_sm quick-link_dark">Size Guide</a>
                                    {%- endif -%}                        
                                </div>   

                                <input type="hidden" name="{{product_option.name}}_selected" id="{{product_option.name}}_selected" value="{{selected_value}}">
                            {% endfor %}

                             <input type="hidden" id="options_separated_by_comma" value="{{options_separated_by_comma}}">
                             

                        </div>
                        {%- endif -%}            

            
                        {%- if product.variants.size > 1 -%}
                                {% assign varianst_separated_by_comma = '' %}
                                {% assign comma = '' %}
                                
                            
                                {%- for variant in product.variants -%}
                                    <input type = "hidden" id="variant_hidden_{{variant.id}}" data-price="{{variant.price | money}}" data-compare="{{variant.compare_at_price| money}}" data-wasprice="{{product.metafields['global']['was_price'] | money}}">
                                {%- endfor -%}


                                <select id="product-select" name="id" style="display: none;">
                                {%- for variant in product.variants -%}
                                    {% assign varianst_separated_by_comma = varianst_separated_by_comma | append: comma | append: variant.title %}
                                    {% assign comma = ',' %}
                                    <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} value="{{ variant.id }}">{{ variant.title | escape }} -
                                            {{ variant.price | money }}
                                    </option>
                                {%- endfor -%}
                                </select>

                             <input type="hidden" id="variants_separated_by_comma" value="{{varianst_separated_by_comma}}">   
                                
                        {%- else -%}
                                <input type="hidden" name="id" value="{{ product.variants.first.id }}" />
                        {%- endif -%}            
                                    <div class="product-info__count-add">
                                        <input name="quantity" type="number" class="product-info__count-input input-text input-text_height_sm text-center input-text_bg_gray input-text_size_sm" value="1">
                                        <button id="btn_to_add_cart" class="product-info__form-button form-button form-button_height_sm form-button_fontsize_sm" type="submit" {% unless product.available %}disabled="disabled"{% endunless %}>Add to cart</button>

                                        <div id="sold-out-container" class="sold-out product-info__form-button form-button form-button_height_sm form-button_fontsize_sm" style="display:none; margin-bottom: 20px; background-color: #557b97; opacity: 0.5; color: #fff;">
                                            <div class="sold_out d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex justify-content-center align-items-center" id="sold_out" 
                                                style="height: 100%">
                                                        <span>Sold Out</span>
                                            </div>    
                                        </div>
                                    </div>
                        
                                    <div class="product-info__pay-text">
                                       <b>Pay in Installments</b>: &nbsp;
                                       <p class="affirm-as-low-as" data-page-type="product" data-amount="{{variant.price}}"></p>
                                    </div>

                                    <div class="product-info__buttons">
                                        <a href="#" class="product-info__button-preview button-preview button-preview_with_image button-preview_dark button-preview_size_sm">Add to wish list <img class="button-preview__image" src="{{ 'heart.png' | asset_url }}" alt="heart"></a>
                                        <a href="#" class="product-info__button-preview button-preview button-preview_with_image button-preview_dark button-preview_size_sm">Compare <img class="button-preview__image" src="{{ 'compare.png' | asset_url }}" alt="compare"></a>
                                    </div>

                                    <div class="product-info__share_container d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex  justify-content-between">
                                        <div class="product-info__item">
                                           ITEM NUMBER {{ product.metafields["global"]["product_id"] }}
                                        </div>
                                        <div class="product-info__share align-self-end">                                        
                                            <div class="product-info__share-item">Share</div>
                                            <div class="product-info__share-item">
                                                <a href="https://www.facebook.com/MarksLloydsFurs" target="_blank" class="product-info__share-link"><img src="{{ 'fb.png' | asset_url }}" alt="fb"></a>
                                            </div>
                                            <div class="product-info__share-item">
                                                <a href="https://twitter.com/markslloydsfurs" target="_blank" class="product-info__share-link"><img src="{{ 'tw.png' | asset_url }}" alt="tw"></a>
                                            </div>
                                            <div class="product-info__share-item">
                                                <a href="https://www.pinterest.com/mlfurs/?eq=mlfurs&etslf=4025" target="_blank" class="product-info__share-link"><img src="{{ 'pint.png' | asset_url }}" alt="pint"></a>
                                            </div>
                                            <div class="product-info__share-item">
                                                <a href="mailto:customerservice@mlfurs.com" class="product-info__share-link"><img src="{{ 'mail.png' | asset_url }}" alt="mail"></a>
                                            </div>
                                        </div>

                                    </div>


                                    <div class="product-info__accordion accordion">
                                        <div class="accordion__item">
                                            <div class="product-info__accordion-title accordion__title">EDITOR'S NOTES</div>
                                            <div class="product-info__accordion-content accordion__content">
                                                {{ product.description }}
                                            </div>
                                        </div>
                                        <div class="accordion__item">
                                            <div class="product-info__accordion-title accordion__title">PRODUCT INFORMATION</div>
                                            <div class="product-info__accordion-content accordion__content">
                                                {{ product.metafields["global"]["productInfo"] }}
                                            </div>
                                        </div>
                                        <div class="accordion__item">
                                            <div class="product-info__accordion-title accordion__title">REVIEWS</div>
                                            <div class="product-info__accordion-content accordion__content">
                                                <div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>
                                            </div>
                                        </div>                                        
                                        

                                    </div>
                                </div>
                            </div>
                        {% endform %}  

			</div>
			</div>
