	<section class="main-services">
		<div class="container-fluid">
			<div class="row">
				<div class="col-12">
					<div class="main-services__content">

						<div class="main-services__banner" style="background-image: url({{ section.settings.hero | img_url: 'master' }});">
							<div class="main-services__banner-content">
								<div class="main-services__title">Expert Fur Service</div>
							</div>
						</div>

						<div class="row">
							<div class="col-lg-10 offset-lg-1">
								<div class="main-services__more-info more-info">
									<div class="more-info__image d-none d-lg-block" style="background-image: url({{ section.settings.about_service | img_url: 'master' }});"></div>
									<div class="more-info__content main-services__more-info-form-container">
										<form class="more-info__form" action="/cart/add" method="post">
											<div class="more-info__title">Service in 3 Easy Steps</div>
											<div class="more-info__text">
											  <ol class="more-info__list_steps">
											     <li>Select type of garment that needs service</li>
												 <li>Select service needed</li>
												 <li>Select number of items</li>
											  </ol>
											
											</div>
											
											{%-  assign collection = collections['Services']  -%}

											{% include "services_garments" %}											
                                    											
											<select name="cbo_services" id="cbo_services" class="select more-info__select select_color_gray select_bg_gray">
												<option selected value="0">Select Service</option>

												{%- if collection.products_count > 0 -%}
												   {%- for product in collection.products -%}
												       <option value="{{product.id}}">{{product.title | scape}} - ({{product.price | money}})</option> 
												   {%- endfor -%}    
												{%- endif -%}                     
											</select>

											<div class="field_error_container" id="cbo_services_error" style="display:none;">
											* Service is a Required field
											</div>

											<select name="quantity" id="cbo_quantity_items" class="select more-info__select select_color_gray select_bg_gray">
												<option selected value="0">Number of Items</option>
												<option value="1">1</option>
												<option value="2">2</option>
												<option value="3">3</option>
												<option value="4">4</option>
												<option value="5">5</option>
												<option value="6">6</option>
											</select>

											<div class="field_error_container" id="cbo_quantity_error" style="display:none;">
											* Quantity is a Required field
											</div>

											<div class="more-info__start-from">
												<!--<div class="more-info__price-title">Starting from</div>
												<div class="more-info__price">$150.00 Storage Bundle</div>-->
												<div class="more-info__include_text">
												   You will charged o <strong>non-refutable $25 fee</strong>
												   for pickup at the time of booking. Upon receiving your
												   garment(s), we will call you to review the final pricing
												   before beginning the services
												</div>
											</div>
											
											<button class="form-button form-button_height_sm form-button_fontsize_sm" id="add_to_cart_service">Request this service</button>


											<select name="id" id="product-select" style="display:none">
												{%- for product in collection.products -%}		                 													
													{% for variant in product.variants %} 
													   <option value={{variant.id}}>{{variant.title}} - {{variant.id}}</option>
                                     	            {%- endfor -%}
 												{%- endfor -%}

											</select>
										</form>
									</div>
								</div>
							</div>
						</div>

						<!--<div class="row">
							<div class="col-lg-10 offset-lg-1">
								<div class="main-services__teasers">
									<div class="row">
										<div class="col-lg-4 main-services__teasers-item">
											<div class="teaser main-services__teaser">
												<div class="teaser__image-block">
													<img src="{{ 'clock.png' | asset_url }}" alt="diamond" class="teaser__image img-responsive">
												</div>
												<div class="teaser__text-block">
													<div class="teaser__title">Fast and Convenient</div>													
												</div>
											</div>
										</div>
										<div class="col-lg-4 main-services__teasers-item">
											<div class="teaser main-services__teaser">
												<div class="teaser__image-block">
													<img src="{{ 'fiber.png' | asset_url }}" alt="diamond" class="teaser__image img-responsive">
												</div>
												<div class="teaser__text-block">
													<div class="teaser__title">Fine Craftsmanship</div>													
												</div>
											</div>
										</div>
										<div class="col-lg-4 main-services__teasers-item">
											<div class="teaser main-services__teaser">
												<div class="teaser__image-block">
													<img src="{{ 'diamond.png' | asset_url }}" alt="diamond" class="teaser__image img-responsive">
												</div>
												<div class="teaser__text-block">
													<div class="teaser__title">Focused on Quality</div>													
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>-->

						

						<div class="row">
							<div class="col-lg-10 offset-lg-1">
								<div class="main-services__mobile-banner d-lg-none">
									<img src="{{ section.settings.more_info | img_url: 'master' }}" alt="banner" class="main-services__mobile-banner-image img-responsive img-width">
								</div>
								<div class="more-info main-services__more-info more-info_bottom">
									<div class="more-info__content">
										<div class="more-info__title">Denver's Most Trusted Furrier Since 1951</div>
										<div class="more-info__text">
										   Store your fur garments in MLFurs' insured, secured, storage vaults for protection from humidity, insects, and pests
										   during the spring and summer months; It's like a summer vacation at a world class resort for you precious fur garments
										</div>

										<a class="more-info__link" href="/pages/about">Learn More About ML Furs</a>

										<div class="more-info__title">The MLFurs Difference</div>
										<div class="more-info__text">
										   Find out what makes MLFurs difference - from storage conditions to cleaning standards. Call and speak to a Fur
										   Expert today at 1-877-653-3877
										</div>

										<a class="more-info__link" href="#">Learn More</a>

										<div class="more-info__title">Our Prices</div>
										<div class="more-info__text">
										   View a detailed price sheet for all services offered
										</div>

										<a class="more-info__link" href="#">View Full Price Chart</a>
									</div>
									
									<div class="more-info__image" style="background-image: url({{ section.settings.more_info | img_url: 'master' }});"></div>
								</div>
							</div>
						</div>


					</div>
				</div>
			</div>
		</div>
	</section>


	<!--<section class="d-none d-sm-block">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-10 offset-lg-1">
					<div class="brands main-services__brands">
						<img src="{{ 'teaser-1.png' | asset_url }}" alt="brand" class="brands__item img-responsive">
						<img src="{{ 'teaser-2.png' | asset_url }}" alt="brand" class="brands__item img-responsive">
						<img src="{{ 'teaser-3.png' | asset_url }}" alt="brand" class="brands__item img-responsive">
						<img src="{{ 'teaser-4.png' | asset_url }}" alt="brand" class="brands__item img-responsive">
						<img src="{{ 'teaser-5.png' | asset_url }}" alt="brand" class="brands__item img-responsive">
						<img src="{{ 'teaser-6.png' | asset_url }}" alt="brand" class="brands__item img-responsive">
					</div>
				</div>
			</div>
		</div>
	</section> -->


<script>
window.mlfurs_services = window.mlfurs_services || {};   

mlfurs_services = {
    products_services_available : [],

	initializeValues: function() {
		let item = null;
		{%- for product in collection.products -%}		                 		    
			{% for variant in product.variants %} 
			   item = new Object();
			   item["variant_id"] = "{{variant.id}}";
			   item["garment"] = "{{variant.option1}}";
			   item["product_id"] = "{{product.id}}";
               
			   this.products_services_available.push(item);

			   item = null;
			{%- endfor -%}
			
		{%- endfor -%}
	},

	findVariantByProductAndGarment(product_id, garment) {
		let product = null;
		for (item in this.products_services_available) {
			product = this.products_services_available[item];

			if (product.product_id == product_id && product.garment == garment) {
				return product.variant_id;
			}
			
		}
	}
}

mlfurs_services.initializeValues();
</script>


{% schema %} {
  "name": "Services Information",
  "settings": [
    {
      "id": "hero",
      "type": "image_picker",
      "label": "Hero Image"
    },
    {
      "id": "about_service",
      "type": "image_picker",
      "label": "About Service Image"
    },
    {
      "id": "more_info",
      "type": "image_picker",
      "label": "More Info Image"
    }     
  ]
}
{% endschema %}    