	<section class="sustainability">
		<div class="container-fluid">

			<div class="row">
				<div class="col-12">
					<div class="sustainability__banner" style="background-image: url({{ section.settings.hero | img_url: 'master' }});">
						<div class="sustainability__title">Sustainability</div>
					</div>
				</div>
			</div>

			<div class="d-none d-sm-block d-lg-none sustainability__tablet-content">
				<div class="row">
					<div class="col-12">

						<div class="sustainability__dropdown-list dropdown-list">
							<div class="dropdown-list__name"></div>
							<div class="dropdown-list__menu">
								<div class="dropdown-list__menu-item">
									<a href="javascript: void(0);" class="dropdown-list__menu-link">blackgama</a>
								</div>
								<div class="dropdown-list__menu-item">
									<a href="javascript: void(0);" class="dropdown-list__menu-link">american legend</a>
								</div>
								<div class="dropdown-list__menu-item">
									<a href="javascript: void(0);" class="dropdown-list__menu-link">nafa</a>
								</div>
								<div class="dropdown-list__menu-item">
									<a href="javascript: void(0);" class="dropdown-list__menu-link">saga furs</a>
								</div>
								<div class="dropdown-list__menu-item">
									<a href="javascript: void(0);" class="dropdown-list__menu-link">chinchila furs</a>
								</div>
								<div class="dropdown-list__menu-item">
									<a href="javascript: void(0);" class="dropdown-list__menu-link">kopenhagen furs</a>
								</div>
							</div>
						</div>

						<div class="sustainability__list-contents">
							<div class="sustainability__list-content">

								<img src="img/banner-2.png" alt="image" class="img-responsive img-width">

								<div class="sustainabilimg/banner-2.pngity__list-content-text">
									<div class="sustainimg/banner-2.pngability__tab-content-title">Blackgama</div>
									<div class="sustainimg/banner-2.pngability__tab-content-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas inventore nisi amet aliquam incidunt repellat esse quasi non necessitatibus eos laborum, eius velit ipsum minus totam culpa. Voluptas officia dolorum doloribus impedit velit architecto doloremque a pariatur, quo labore provident rem molestiae, perspiciatis cum tenetur ut eligendi eveniet. Nisi minima ab voluptates nam quia, repellat reiciendis modi dolores culpa nemo!</div>
									<div class="sustainimg/banner-2.pngability__tab-content-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus labore quis eius ipsum exercitationem nam, consectetur excepturi eaque similique. Voluptate consectetur repellendus maxime commodi aut recusandae in laborum possimus accusantium.</div>
									<div class="sustainimg/banner-2.pngability__tab-content-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis modi voluptate voluptatem, asperiores minus accusantium, alias deleniti in? Doloremque, quas.</div>
									<div class="sustainimg/banner-2.pngability__tab-content-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis, atque non? Dolor aliquam saepe, ullam aliquid ab repellat neque veritatis aperiam vero! Corporis possimus iure necessitatibus, inventore veritatis dolor ullam.</div>
								</div>
							</div>

							<div class="sustainability__list-content">

								<img src="img/banner-1.png" alt="image" class="img-responsive img-width">

								<div class="sustainability__list-content-text">
									<div class="sustainability__tab-content-title">American Legend</div>
									<div class="sustainability__tab-content-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas inventore nisi amet aliquam incidunt repellat esse quasi non necessitatibus eos laborum, eius velit ipsum minus totam culpa. Voluptas officia dolorum doloribus impedit velit architecto doloremque a pariatur, quo labore provident rem molestiae, perspiciatis cum tenetur ut eligendi eveniet. Nisi minima ab voluptates nam quia, repellat reiciendis modi dolores culpa nemo!</div>
									<div class="sustainability__tab-content-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus labore quis eius ipsum exercitationem nam, consectetur excepturi eaque similique. Voluptate consectetur repellendus maxime commodi aut recusandae in laborum possimus accusantium.</div>
									<div class="sustainability__tab-content-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis modi voluptate voluptatem, asperiores minus accusantium, alias deleniti in? Doloremque, quas.</div>
									<div class="sustainability__tab-content-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis, atque non? Dolor aliquam saepe, ullam aliquid ab repellat neque veritatis aperiam vero! Corporis possimus iure necessitatibus, inventore veritatis dolor ullam.</div>
								</div>

							</div>

							<div class="sustainability__list-content">
								<img src="img/banner-1.png" alt="image" class="img-responsive img-width">
								<div class="sustainability__list-content-text">
									<div class="sustainability__tab-content-title">Nafa</div>
									<div class="sustainability__tab-content-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas inventore nisi amet aliquam incidunt repellat esse quasi non necessitatibus eos laborum, eius velit ipsum minus totam culpa. Voluptas officia dolorum doloribus impedit velit architecto doloremque a pariatur, quo labore provident rem molestiae, perspiciatis cum tenetur ut eligendi eveniet. Nisi minima ab voluptates nam quia, repellat reiciendis modi dolores culpa nemo!</div>
									<div class="sustainability__tab-content-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus labore quis eius ipsum exercitationem nam, consectetur excepturi eaque similique. Voluptate consectetur repellendus maxime commodi aut recusandae in laborum possimus accusantium.</div>
									<div class="sustainability__tab-content-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis modi voluptate voluptatem, asperiores minus accusantium, alias deleniti in? Doloremque, quas.</div>
									<div class="sustainability__tab-content-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis, atque non? Dolor aliquam saepe, ullam aliquid ab repellat neque veritatis aperiam vero! Corporis possimus iure necessitatibus, inventore veritatis dolor ullam.</div>
								</div>

							</div>

							<div class="sustainability__list-content">
								<img src="img/banner-2.png" alt="image" class="img-responsive img-width">
								<div class="sustainability__list-content-text">
									<div class="sustainability__tab-content-title">Saga Furs</div>
									<div class="sustainability__tab-content-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas inventore nisi amet aliquam incidunt repellat esse quasi non necessitatibus eos laborum, eius velit ipsum minus totam culpa. Voluptas officia dolorum doloribus impedit velit architecto doloremque a pariatur, quo labore provident rem molestiae, perspiciatis cum tenetur ut eligendi eveniet. Nisi minima ab voluptates nam quia, repellat reiciendis modi dolores culpa nemo!</div>
									<div class="sustainability__tab-content-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus labore quis eius ipsum exercitationem nam, consectetur excepturi eaque similique. Voluptate consectetur repellendus maxime commodi aut recusandae in laborum possimus accusantium.</div>
									<div class="sustainability__tab-content-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis modi voluptate voluptatem, asperiores minus accusantium, alias deleniti in? Doloremque, quas.</div>
									<div class="sustainability__tab-content-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis, atque non? Dolor aliquam saepe, ullam aliquid ab repellat neque veritatis aperiam vero! Corporis possimus iure necessitatibus, inventore veritatis dolor ullam.</div>
								</div>

							</div>

							<div class="sustainability__list-content">
								<img src="img/banner-1.png" alt="image" class="img-responsive img-width">

								<div class="sustainability__list-content-text">
									<div class="sustainability__tab-content-title">Chinchila Furs</div>
									<div class="sustainability__tab-content-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas inventore nisi amet aliquam incidunt repellat esse quasi non necessitatibus eos laborum, eius velit ipsum minus totam culpa. Voluptas officia dolorum doloribus impedit velit architecto doloremque a pariatur, quo labore provident rem molestiae, perspiciatis cum tenetur ut eligendi eveniet. Nisi minima ab voluptates nam quia, repellat reiciendis modi dolores culpa nemo!</div>
									<div class="sustainability__tab-content-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus labore quis eius ipsum exercitationem nam, consectetur excepturi eaque similique. Voluptate consectetur repellendus maxime commodi aut recusandae in laborum possimus accusantium.</div>
									<div class="sustainability__tab-content-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis modi voluptate voluptatem, asperiores minus accusantium, alias deleniti in? Doloremque, quas.</div>
									<div class="sustainability__tab-content-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis, atque non? Dolor aliquam saepe, ullam aliquid ab repellat neque veritatis aperiam vero! Corporis possimus iure necessitatibus, inventore veritatis dolor ullam.</div>
								</div>


							</div>

							<div class="sustainability__list-content">
								<img src="img/banner-1.png" alt="image" class="img-responsive img-width">
								<div class="sustainability__list-content-text">
									<div class="sustainability__tab-content-title">Kopenhagen Fur</div>
									<div class="sustainability__tab-content-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas inventore nisi amet aliquam incidunt repellat esse quasi non necessitatibus eos laborum, eius velit ipsum minus totam culpa. Voluptas officia dolorum doloribus impedit velit architecto doloremque a pariatur, quo labore provident rem molestiae, perspiciatis cum tenetur ut eligendi eveniet. Nisi minima ab voluptates nam quia, repellat reiciendis modi dolores culpa nemo!</div>
									<div class="sustainability__tab-content-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus labore quis eius ipsum exercitationem nam, consectetur excepturi eaque similique. Voluptate consectetur repellendus maxime commodi aut recusandae in laborum possimus accusantium.</div>
									<div class="sustainability__tab-content-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis modi voluptate voluptatem, asperiores minus accusantium, alias deleniti in? Doloremque, quas.</div>
									<div class="sustainability__tab-content-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis, atque non? Dolor aliquam saepe, ullam aliquid ab repellat neque veritatis aperiam vero! Corporis possimus iure necessitatibus, inventore veritatis dolor ullam.</div>
								</div>

							</div>

						</div>
					</div>
				</div>
			</div>

			<div class="d-sm-none">
				<div class="accordion sustainability__accordion">
					<div class="accordion__item sustainability__accordion-item">
						<div class="accordion__title accordion__title_arrow_accent sustainability__accordion-title">Lorem ipsum dolor.</div>
						<div class="accordion__content sustainability__accordion-content">
							<div class="sustainability__tab-content-title">Blackgama</div>
							<div class="sustainability__tab-content-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas inventore nisi amet aliquam incidunt repellat esse quasi non necessitatibus eos laborum, eius velit ipsum minus totam culpa. Voluptas officia dolorum doloribus impedit velit architecto doloremque a pariatur, quo labore provident rem molestiae, perspiciatis cum tenetur ut eligendi eveniet. Nisi minima ab voluptates nam quia, repellat reiciendis modi dolores culpa nemo!</div>
							<div class="sustainability__tab-content-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus labore quis eius ipsum exercitationem nam, consectetur excepturi eaque similique. Voluptate consectetur repellendus maxime commodi aut recusandae in laborum possimus accusantium.</div>
							<div class="sustainability__tab-content-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis modi voluptate voluptatem, asperiores minus accusantium, alias deleniti in? Doloremque, quas.</div>
							<div class="sustainability__tab-content-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis, atque non? Dolor aliquam saepe, ullam aliquid ab repellat neque veritatis aperiam vero! Corporis possimus iure necessitatibus, inventore veritatis dolor ullam.</div>
						</div>
					</div>

					<div class="accordion__item sustainability__accordion-item">
						<div class="accordion__title accordion__title_arrow_accent sustainability__accordion-title">Lorem ipsum dolor.</div>
						<div class="accordion__content sustainability__accordion-content">
							<div class="sustainability__tab-content-title">Blackgama</div>
							<div class="sustainability__tab-content-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas inventore nisi amet aliquam incidunt repellat esse quasi non necessitatibus eos laborum, eius velit ipsum minus totam culpa. Voluptas officia dolorum doloribus impedit velit architecto doloremque a pariatur, quo labore provident rem molestiae, perspiciatis cum tenetur ut eligendi eveniet. Nisi minima ab voluptates nam quia, repellat reiciendis modi dolores culpa nemo!</div>
							<div class="sustainability__tab-content-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus labore quis eius ipsum exercitationem nam, consectetur excepturi eaque similique. Voluptate consectetur repellendus maxime commodi aut recusandae in laborum possimus accusantium.</div>
							<div class="sustainability__tab-content-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis modi voluptate voluptatem, asperiores minus accusantium, alias deleniti in? Doloremque, quas.</div>
							<div class="sustainability__tab-content-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis, atque non? Dolor aliquam saepe, ullam aliquid ab repellat neque veritatis aperiam vero! Corporis possimus iure necessitatibus, inventore veritatis dolor ullam.</div>						</div>
						</div>

						<div class="accordion__item sustainability__accordion-item">
							<div class="accordion__title accordion__title_arrow_accent sustainability__accordion-title">Lorem ipsum dolor.</div>
							<div class="accordion__content sustainability__accordion-content">
								<div class="sustainability__tab-content-title">Blackgama</div>
								<div class="sustainability__tab-content-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas inventore nisi amet aliquam incidunt repellat esse quasi non necessitatibus eos laborum, eius velit ipsum minus totam culpa. Voluptas officia dolorum doloribus impedit velit architecto doloremque a pariatur, quo labore provident rem molestiae, perspiciatis cum tenetur ut eligendi eveniet. Nisi minima ab voluptates nam quia, repellat reiciendis modi dolores culpa nemo!</div>
								<div class="sustainability__tab-content-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus labore quis eius ipsum exercitationem nam, consectetur excepturi eaque similique. Voluptate consectetur repellendus maxime commodi aut recusandae in laborum possimus accusantium.</div>
								<div class="sustainability__tab-content-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis modi voluptate voluptatem, asperiores minus accusantium, alias deleniti in? Doloremque, quas.</div>
								<div class="sustainability__tab-content-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis, atque non? Dolor aliquam saepe, ullam aliquid ab repellat neque veritatis aperiam vero! Corporis possimus iure necessitatibus, inventore veritatis dolor ullam.</div>						</div>
							</div>

							<div class="accordion__item sustainability__accordion-item">
								<div class="accordion__title accordion__title_arrow_accent sustainability__accordion-title">Lorem ipsum dolor.</div>
								<div class="accordion__content sustainability__accordion-content">
									<div class="sustainability__tab-content-title">Blackgama</div>
									<div class="sustainability__tab-content-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas inventore nisi amet aliquam incidunt repellat esse quasi non necessitatibus eos laborum, eius velit ipsum minus totam culpa. Voluptas officia dolorum doloribus impedit velit architecto doloremque a pariatur, quo labore provident rem molestiae, perspiciatis cum tenetur ut eligendi eveniet. Nisi minima ab voluptates nam quia, repellat reiciendis modi dolores culpa nemo!</div>
									<div class="sustainability__tab-content-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus labore quis eius ipsum exercitationem nam, consectetur excepturi eaque similique. Voluptate consectetur repellendus maxime commodi aut recusandae in laborum possimus accusantium.</div>
									<div class="sustainability__tab-content-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis modi voluptate voluptatem, asperiores minus accusantium, alias deleniti in? Doloremque, quas.</div>
									<div class="sustainability__tab-content-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis, atque non? Dolor aliquam saepe, ullam aliquid ab repellat neque veritatis aperiam vero! Corporis possimus iure necessitatibus, inventore veritatis dolor ullam.</div>						</div>
								</div>

								<div class="accordion__item sustainability__accordion-item">
									<div class="accordion__title accordion__title_arrow_accent sustainability__accordion-title">Lorem ipsum dolor.</div>
									<div class="accordion__content sustainability__accordion-content">
										<div class="sustainability__tab-content-title">Blackgama</div>
										<div class="sustainability__tab-content-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas inventore nisi amet aliquam incidunt repellat esse quasi non necessitatibus eos laborum, eius velit ipsum minus totam culpa. Voluptas officia dolorum doloribus impedit velit architecto doloremque a pariatur, quo labore provident rem molestiae, perspiciatis cum tenetur ut eligendi eveniet. Nisi minima ab voluptates nam quia, repellat reiciendis modi dolores culpa nemo!</div>
										<div class="sustainability__tab-content-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus labore quis eius ipsum exercitationem nam, consectetur excepturi eaque similique. Voluptate consectetur repellendus maxime commodi aut recusandae in laborum possimus accusantium.</div>
										<div class="sustainability__tab-content-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis modi voluptate voluptatem, asperiores minus accusantium, alias deleniti in? Doloremque, quas.</div>
										<div class="sustainability__tab-content-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis, atque non? Dolor aliquam saepe, ullam aliquid ab repellat neque veritatis aperiam vero! Corporis possimus iure necessitatibus, inventore veritatis dolor ullam.</div>						</div>
									</div>

									<div class="accordion__item sustainability__accordion-item">
										<div class="accordion__title accordion__title_arrow_accent sustainability__accordion-title">Lorem ipsum dolor.</div>
										<div class="accordion__content sustainability__accordion-content">
											<div class="sustainability__tab-content-title">Blackgama</div>
											<div class="sustainability__tab-content-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas inventore nisi amet aliquam incidunt repellat esse quasi non necessitatibus eos laborum, eius velit ipsum minus totam culpa. Voluptas officia dolorum doloribus impedit velit architecto doloremque a pariatur, quo labore provident rem molestiae, perspiciatis cum tenetur ut eligendi eveniet. Nisi minima ab voluptates nam quia, repellat reiciendis modi dolores culpa nemo!</div>
											<div class="sustainability__tab-content-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus labore quis eius ipsum exercitationem nam, consectetur excepturi eaque similique. Voluptate consectetur repellendus maxime commodi aut recusandae in laborum possimus accusantium.</div>
											<div class="sustainability__tab-content-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis modi voluptate voluptatem, asperiores minus accusantium, alias deleniti in? Doloremque, quas.</div>
											<div class="sustainability__tab-content-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis, atque non? Dolor aliquam saepe, ullam aliquid ab repellat neque veritatis aperiam vero! Corporis possimus iure necessitatibus, inventore veritatis dolor ullam.</div>						</div>
										</div>

										<div class="accordion__item sustainability__accordion-item">
											<div class="accordion__title accordion__title_arrow_accent sustainability__accordion-title">Lorem ipsum dolor.</div>
											<div class="accordion__content sustainability__accordion-content">
												<div class="sustainability__tab-content-title">Blackgama</div>
												<div class="sustainability__tab-content-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas inventore nisi amet aliquam incidunt repellat esse quasi non necessitatibus eos laborum, eius velit ipsum minus totam culpa. Voluptas officia dolorum doloribus impedit velit architecto doloremque a pariatur, quo labore provident rem molestiae, perspiciatis cum tenetur ut eligendi eveniet. Nisi minima ab voluptates nam quia, repellat reiciendis modi dolores culpa nemo!</div>
												<div class="sustainability__tab-content-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus labore quis eius ipsum exercitationem nam, consectetur excepturi eaque similique. Voluptate consectetur repellendus maxime commodi aut recusandae in laborum possimus accusantium.</div>
												<div class="sustainability__tab-content-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis modi voluptate voluptatem, asperiores minus accusantium, alias deleniti in? Doloremque, quas.</div>
												<div class="sustainability__tab-content-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis, atque non? Dolor aliquam saepe, ullam aliquid ab repellat neque veritatis aperiam vero! Corporis possimus iure necessitatibus, inventore veritatis dolor ullam.</div>						</div>
											</div>


										</div>
									</div>

									<div class="row d-none d-lg-flex">
										<div class="col-12">
											<div class="sustainability__wrapper-tabs">
												<div class="sustainability__tabs">
													<span class="sustainability__tab"><img src="{{ 'teaser-1.png' | asset_url }}" alt="brand" class="brands__item img-responsive"></span>
													<span class="sustainability__tab"><img src="{{ 'teaser-2.png' | asset_url }}" alt="brand" class="brands__item img-responsive"></span>
													<span class="sustainability__tab"><img src="{{ 'teaser-3.png' | asset_url }}" alt="brand" class="brands__item img-responsive"></span>        
													<span class="sustainability__tab"><img src="{{ 'teaser-4.png' | asset_url }}" alt="brand" class="brands__item img-responsive"></span>
													<span class="sustainability__tab"><img src="{{ 'teaser-5.png' | asset_url }}" alt="brand" class="brands__item img-responsive"></span>
													<span class="sustainability__tab"><img src="{{ 'teaser-6.png' | asset_url }}" alt="brand" class="brands__item img-responsive"></span>
												</div>
												<div class="sustainability__tab-contents">
													<div class="sustainability__tab-content">
														<div class="d-flex">
															<div class="sustainability__tab-content-text">
																<div class="sustainability__tab-content-title">Blackgama</div>
																<div class="sustainability__tab-content-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas inventore nisi amet aliquam incidunt repellat esse quasi non necessitatibus eos laborum, eius velit ipsum minus totam culpa. Voluptas officia dolorum doloribus impedit velit architecto doloremque a pariatur, quo labore provident rem molestiae, perspiciatis cum tenetur ut eligendi eveniet. Nisi minima ab voluptates nam quia, repellat reiciendis modi dolores culpa nemo!</div>
																<div class="sustainability__tab-content-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus labore quis eius ipsum exercitationem nam, consectetur excepturi eaque similique. Voluptate consectetur repellendus maxime commodi aut recusandae in laborum possimus accusantium.</div>
																<div class="sustainability__tab-content-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis modi voluptate voluptatem, asperiores minus accusantium, alias deleniti in? Doloremque, quas.</div>
																<div class="sustainability__tab-content-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis, atque non? Dolor aliquam saepe, ullam aliquid ab repellat neque veritatis aperiam vero! Corporis possimus iure necessitatibus, inventore veritatis dolor ullam.</div>
															</div>
															<div class="sustainability__tab-content-image" style="background-image: url({{ section.settings.blackgama_image | img_url: 'master' }});"></div>
														</div>
													</div>
													<div class="sustainability__tab-content">
														<div class="d-flex">
															<div class="sustainability__tab-content-text">
																<div class="sustainability__tab-content-title">American Legend</div>
																<div class="sustainability__tab-content-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas inventore nisi amet aliquam incidunt repellat esse quasi non necessitatibus eos laborum, eius velit ipsum minus totam culpa. Voluptas officia dolorum doloribus impedit velit architecto doloremque a pariatur, quo labore provident rem molestiae, perspiciatis cum tenetur ut eligendi eveniet. Nisi minima ab voluptates nam quia, repellat reiciendis modi dolores culpa nemo!</div>
																<div class="sustainability__tab-content-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus labore quis eius ipsum exercitationem nam, consectetur excepturi eaque similique. Voluptate consectetur repellendus maxime commodi aut recusandae in laborum possimus accusantium.</div>
																<div class="sustainability__tab-content-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis modi voluptate voluptatem, asperiores minus accusantium, alias deleniti in? Doloremque, quas.</div>
																<div class="sustainability__tab-content-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis, atque non? Dolor aliquam saepe, ullam aliquid ab repellat neque veritatis aperiam vero! Corporis possimus iure necessitatibus, inventore veritatis dolor ullam.</div>
															</div>
															<div class="sustainability__tab-content-image" style="background-image: url({{ section.settings.american_image | img_url: 'master' }});"></div>
														</div>
													</div>
													<div class="sustainability__tab-content">
														<div class="d-flex">
															<div class="sustainability__tab-content-text">
																<div class="sustainability__tab-content-title">Nafa</div>
																<div class="sustainability__tab-content-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas inventore nisi amet aliquam incidunt repellat esse quasi non necessitatibus eos laborum, eius velit ipsum minus totam culpa. Voluptas officia dolorum doloribus impedit velit architecto doloremque a pariatur, quo labore provident rem molestiae, perspiciatis cum tenetur ut eligendi eveniet. Nisi minima ab voluptates nam quia, repellat reiciendis modi dolores culpa nemo!</div>
																<div class="sustainability__tab-content-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus labore quis eius ipsum exercitationem nam, consectetur excepturi eaque similique. Voluptate consectetur repellendus maxime commodi aut recusandae in laborum possimus accusantium.</div>
																<div class="sustainability__tab-content-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis modi voluptate voluptatem, asperiores minus accusantium, alias deleniti in? Doloremque, quas.</div>
																<div class="sustainability__tab-content-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis, atque non? Dolor aliquam saepe, ullam aliquid ab repellat neque veritatis aperiam vero! Corporis possimus iure necessitatibus, inventore veritatis dolor ullam.</div>
															</div>
															<div class="sustainability__tab-content-image" style="background-image: url({{ section.settings.nafa_image | img_url: 'master' }});"></div>
														</div>
													</div>
													<div class="sustainability__tab-content">
														<div class="d-flex">
															<div class="sustainability__tab-content-text">
																<div class="sustainability__tab-content-title">Saga Furs</div>
																<div class="sustainability__tab-content-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas inventore nisi amet aliquam incidunt repellat esse quasi non necessitatibus eos laborum, eius velit ipsum minus totam culpa. Voluptas officia dolorum doloribus impedit velit architecto doloremque a pariatur, quo labore provident rem molestiae, perspiciatis cum tenetur ut eligendi eveniet. Nisi minima ab voluptates nam quia, repellat reiciendis modi dolores culpa nemo!</div>
																<div class="sustainability__tab-content-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus labore quis eius ipsum exercitationem nam, consectetur excepturi eaque similique. Voluptate consectetur repellendus maxime commodi aut recusandae in laborum possimus accusantium.</div>
																<div class="sustainability__tab-content-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis modi voluptate voluptatem, asperiores minus accusantium, alias deleniti in? Doloremque, quas.</div>
																<div class="sustainability__tab-content-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis, atque non? Dolor aliquam saepe, ullam aliquid ab repellat neque veritatis aperiam vero! Corporis possimus iure necessitatibus, inventore veritatis dolor ullam.</div>
															</div>
															<div class="sustainability__tab-content-image" style="background-image: url({{ section.settings.sagafurs_image | img_url: 'master' }});"></div>
														</div>
													</div>
													<div class="sustainability__tab-content">
														<div class="d-flex">
															<div class="sustainability__tab-content-text">
																<div class="sustainability__tab-content-title">Chinchila Furs</div>
																<div class="sustainability__tab-content-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas inventore nisi amet aliquam incidunt repellat esse quasi non necessitatibus eos laborum, eius velit ipsum minus totam culpa. Voluptas officia dolorum doloribus impedit velit architecto doloremque a pariatur, quo labore provident rem molestiae, perspiciatis cum tenetur ut eligendi eveniet. Nisi minima ab voluptates nam quia, repellat reiciendis modi dolores culpa nemo!</div>
																<div class="sustainability__tab-content-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus labore quis eius ipsum exercitationem nam, consectetur excepturi eaque similique. Voluptate consectetur repellendus maxime commodi aut recusandae in laborum possimus accusantium.</div>
																<div class="sustainability__tab-content-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis modi voluptate voluptatem, asperiores minus accusantium, alias deleniti in? Doloremque, quas.</div>
																<div class="sustainability__tab-content-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis, atque non? Dolor aliquam saepe, ullam aliquid ab repellat neque veritatis aperiam vero! Corporis possimus iure necessitatibus, inventore veritatis dolor ullam.</div>
															</div>
															<div class="sustainability__tab-content-image" style="background-image: url({{ section.settings.chinchila_image | img_url: 'master' }});"></div>
														</div>
													</div>
													<div class="sustainability__tab-content">
														<div class="d-flex">
															<div class="sustainability__tab-content-text">
																<div class="sustainability__tab-content-title">Kopenhagen Fur</div>
																<div class="sustainability__tab-content-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas inventore nisi amet aliquam incidunt repellat esse quasi non necessitatibus eos laborum, eius velit ipsum minus totam culpa. Voluptas officia dolorum doloribus impedit velit architecto doloremque a pariatur, quo labore provident rem molestiae, perspiciatis cum tenetur ut eligendi eveniet. Nisi minima ab voluptates nam quia, repellat reiciendis modi dolores culpa nemo!</div>
																<div class="sustainability__tab-content-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus labore quis eius ipsum exercitationem nam, consectetur excepturi eaque similique. Voluptate consectetur repellendus maxime commodi aut recusandae in laborum possimus accusantium.</div>
																<div class="sustainability__tab-content-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis modi voluptate voluptatem, asperiores minus accusantium, alias deleniti in? Doloremque, quas.</div>
																<div class="sustainability__tab-content-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis, atque non? Dolor aliquam saepe, ullam aliquid ab repellat neque veritatis aperiam vero! Corporis possimus iure necessitatibus, inventore veritatis dolor ullam.</div>
															</div>
															<div class="sustainability__tab-content-image" style="background-image: url({{ section.settings.kopenhagen_image | img_url: 'master' }});"></div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>

								</div>
							</section>


{% schema %} {
  "name": "Sustentability",
  "settings": [
    {
      "id": "hero",
      "type": "image_picker",
      "label": "Hero Image"
    },
    {
      "id": "blackgama_image",
      "type": "image_picker",
      "label": "Blackgama Image"
    },
    {
      "id": "american_image",
      "type": "image_picker",
      "label": "American Image"
    },
    {
      "id": "nafa_image",
      "type": "image_picker",
      "label": "Nafa Image"
    },
    {
      "id": "sagafurs_image",
      "type": "image_picker",
      "label": "Sagafurs Image"
    },
    {
      "id": "chinchila_image",
      "type": "image_picker",
      "label": "Chinchila Image"
    },
    {
      "id": "kopenhagen_image",
      "type": "image_picker",
      "label": "Kopenhagen Image"
    }                  
  ]
}
{% endschema %}   